Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

adding mastodon link
  fsfe.org/news/2026/news-20260302-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260302-01.en.xhtml (#5735)
  fsfe.org/news/2026/news-20260302-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260302-01.en.xhtml (#5736)
  fsfe.org/news/2026/news-20260302-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update internal forms
  fsfe.org/cgi-bin/expense-request.pl
  global/data/modules/fsfe-employee-options.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update team
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added CLT to events
  fsfe.org/events/2026/event-20260328-01.de.xml
  fsfe.org/events/2026/event-20260328-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added CLT to events
  fsfe.org/events/2026/event-20260328-01.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adopt wiki URL (#5737)
  fsfe.org/contribute/web/features.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update the status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260218-01.en.xhtml (#5738)
  fsfe.org/news/2026/news-20260218-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs report 2026 (#5739)
  fsfe.org/activities/ilovefs/report/report_2026.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

form evaluation
  fsfe.org/cgi-bin/registerevent.php
Due: php-cs-fixer

ilovefs update redirects
  fsfe.org/.htaccess
Due: none

ADD-event-20260324-01-01-e7568ae185bc7c3b (#5740)
  fsfe.org/events/2026/event-20260324-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update ilovefs report picture (#5741)
  fsfe.org/activities/ilovefs/report/report_2026.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs Bonn update (#5742)
  fsfe.org/activities/ilovefs/report/report_2026.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding ilovefs news item (#5743)
  fsfe.org/news/2026/news-20260305-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

YH4F add sponsor (#5744)
  fsfe.org/activities/yh4f/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding toot (#5745)
  fsfe.org/news/2026/news-20260305-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add entry about fediverse handles, and add mk,tobiasd handles
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: copy over peoplr file properly some cleanup to webfinger
  fsfe.org/cgi-bin/webfinger.php
  fsfe.org/config.toml
Due: php-cs-fixer, tombi

fix: remove logging statements
  fsfe.org/cgi-bin/webfinger.php
Due: php-cs-fixer

wip: add proper locations to the people xml?
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add the redirect rule add the redirect rule fix the fediverse entries and xml contents
  fsfe.org/.htaccess
  fsfe.org/about/people/people.en.xml
  fsfe.org/cgi-bin/fediverse-redirect.php
  fsfe.org/cgi-bin/webfinger.php
Due: php-cs-fixer, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: fediverse redirect php script
  fsfe.org/cgi-bin/fediverse-redirect.php
Due: php-cs-fixer

Fix year for latest addition to donor list
  fsfe.org/donate/donors/donors-2025.en.xml
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: just store handles, to simplify maintenance
  fsfe.org/about/people/people.en.xml
  fsfe.org/cgi-bin/webfinger.php
Due: php-cs-fixer, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat/fedi-redirect (#5682)
  fsfe.org/.htaccess
  fsfe.org/about/people/people.en.xml
  fsfe.org/cgi-bin/webfinger.php
  fsfe.org/config.toml
Due: php-cs-fixer, tombi, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260312-01-01-6833bcfedf459bd4 (#5746)
  fsfe.org/events/2026/event-20260312-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding ES newsletter
  fsfe.org/news/nl/nl-202603.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/nl/nl-202603.es.xhtml
  fsfe.org/news/nl/nl-202603.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding newsletter (#5747)
  fsfe.org/news/2026/news-20260302-01.en.xhtml
  fsfe.org/news/nl/nl-202603.en.xhtml
  fsfe.org/news/nl/nl-202603.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/nl/nl-202603.en.xhtml (#5749)
  fsfe.org/news/nl/nl-202603.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260312-02.en.xml
  fsfe.org/events/2026/event-20260312-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260326-01.en.xml
  fsfe.org/events/2026/event-20260326-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update Proton logo
  fsfe.org/donate/donors/proton.png
  fsfe.org/donate/donors/silver-proton.png
Due: none

added Berlin group events
  fsfe.org/events/2026/event-20260312-02.de.xml
  fsfe.org/events/2026/event-20260312-02.en.xml
  fsfe.org/events/2026/event-20260326-01.de.xml
  fsfe.org/events/2026/event-20260326-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
