Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

lefthook.yaml:

pre-commit:
  commands:
    # FORMATTING, changes files
    # Some filetypes must be formatted, and not being so will fail ci
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    php-cs-fixer:
      glob: "*.php"
      run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    tombi:
      glob: "*.toml"
      run: tombi format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    remove-empty-paragraphs:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
      stage_fixed: true

    # CHECKS, does not alter any files
    reuse:
      glob:
        - "*.py"
      run: reuse lint-file {staged_files}
    pytest:
      glob:
        - "*.py"
      run: pytest ./build/fsfe_website_build_tests_pre_commit
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    structure:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/compare-xml-structure.py {staged_files}
    general:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}
# for checks too slow to run all the time
ci-checks:
  commands:
    pytest:
      run: pytest

feat: rewrite rule for timeline
  fsfe.org/.htaccess
Due: none

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add noto symbols fonts
  fsfe.org/fonts/NotoSansSymbols-Regular.ttf
  fsfe.org/fonts/NotoSansSymbols2-Regular.ttf
  fsfe.org/look/fonts.less
  fsfe.org/look/main.less
Due: prettier

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

timeline: translate homepage to DE
  fsfe.org/about/timeline/index.de.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: inline icons
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax

feat: update translations
  fsfe.org/about/timeline/index.de.xhtml
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

chore: run prettier
  fsfe.org/look/main.less
Due: prettier

feat: rename categories
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: update timeline styling
  fsfe.org/look/base.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/variables.less
Due: prettier

20260114-newsletter (#5617)
  fsfe.org/news/nl/nl-202601.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding toot link (#5618)
  fsfe.org/news/nl/nl-202601.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix date in newsletter
  fsfe.org/news/nl/nl-202601.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update link in Berlin group description
  fsfe.org/about/groups.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

revert merchandise banner notice
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

order: comment out unused image
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding updated bio + picture for Gabriel
  fsfe.org/about/people/ku/ku.en.xhtml
  fsfe.org/about/people/ku/ku.jpg
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

YH4F add Proxmox as sponsor (#5625)
  fsfe.org/activities/yh4f/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Updating Gabriel's profile photo (#5627)
  fsfe.org/about/people/ku/ku.jpg
Due: none

fix: some more events file inconsistenncies
  fsfe.org/events/events.es.xhtml
  fsfe.org/events/events.fr.xhtml
  fsfe.org/events/events.it.xhtml
  fsfe.org/events/events.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: remove mention of events wiki as its deprecated also fix incostiencies as required by ci
  fsfe.org/events/events.de.xhtml
  fsfe.org/events/events.en.xhtml
  fsfe.org/events/events.es.xhtml
  fsfe.org/events/events.fr.xhtml
  fsfe.org/events/events.it.xhtml
  fsfe.org/events/events.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated the English and German page with some fixes
  fsfe.org/activities/ada-zangemann/movie.de.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat/config (#5590)
  .drone.yml
  build/fsfe_website_build/__init__.py
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/build_config.py
  build/fsfe_website_build/lib/site_config.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/get_dependencies.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase1/update_css.py
  build/fsfe_website_build/phase1/update_defaultxsls.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase1/update_stylesheets.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/copy_files.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase2/run.py
  build/fsfe_website_build/phase3/stage_to_target.py
  build/fsfe_website_build_tests_ci/caching_test.py
  docs/contributing.md
  fsfe.org/config.toml
  fsfe.org/required_deploy_files.txt
  fsfe.org/search/subdir.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, prettier, tombi, reuse, pytest, pyright

fix: delete some files that ended up nested by mistake (#5629)
  fsfe.org/news/news/podcast/transcript/episode-1.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-10.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-11.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-12.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-13.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-14.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-15.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-16.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-17.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-18.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-19.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-2.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-20.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-21.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-22.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-23.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-24.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-25.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-3.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-4.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-5.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-6.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-7.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-8.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-9.en.xhtml
  fsfe.org/news/news/podcast/transcript/episode-special-1.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: clean xml comparison messages (#5626)
  build/fsfe_website_build/lib/checks.py
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

ADD-event-20260212-01-01-19aa3dfbe9b3a23a (#5615)
  fsfe.org/events/2026/event-20260212-02.en.xml
  fsfe.org/events/2026/event-20260212-02.nl.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: args.sites type
  build/fsfe_website_build/build.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: use same overview pages on newsletter as on podcasts see https://git.fsfe.org/FSFE/fsfe-website/issues/5623 removes custom newsletter xsl fix differences between files
  fsfe.org/news/default.xsl
  fsfe.org/news/newsletter.de.xhtml
  fsfe.org/news/newsletter.en.xhtml
  fsfe.org/news/newsletter.es.xhtml
  fsfe.org/news/newsletter.fr.xhtml
  fsfe.org/news/newsletter.it.xhtml
  fsfe.org/news/newsletter.nl.xhtml
  fsfe.org/news/newsletter.xsl
  global/data/texts/texts.en.xml
  global/data/texts/texts.nl.xml
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: use new xsl for podcasts and archive
  fsfe.org/news/archive-template.en.xhtml
  fsfe.org/news/podcast.en.xhtml
  fsfe.org/news/podcast.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

remove phone number
  fsfe.org/about/people/kirschner/kirschner.de.xhtml
  fsfe.org/about/people/kirschner/kirschner.el.xhtml
  fsfe.org/about/people/kirschner/kirschner.en.xhtml
  fsfe.org/about/people/kirschner/kirschner.he.xhtml
  fsfe.org/about/people/kirschner/kirschner.it.xhtml
  fsfe.org/about/people/kirschner/kirschner.nl.xhtml
  fsfe.org/about/people/kirschner/kirschner.ru.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

SFP044 (#5631)
  fsfe.org/news/podcast/2025/episode-42.en.xhtml
  fsfe.org/news/podcast/2026/episode-44.en.xhtml
  fsfe.org/news/podcast/transcript/2026/episode-44.en.vtt
  fsfe.org/news/podcast/transcript/2026/episode-44.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

SFP044 add toot (#5632)
  fsfe.org/news/podcast/2026/episode-44.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

order.lang.xhtml: unify tag for Zipcode
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added Berlin group meeting
  fsfe.org/events/2026/event-20260212-03.de.xml
  fsfe.org/events/2026/event-20260212-03.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added Berlin group meeting
  fsfe.org/events/2026/event-20260122-01.de.xml
  fsfe.org/events/2026/event-20260122-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

revert merchandise banner notice (#5619)
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ILFS26 update wegpage get active (#5634)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

cleanup: fix simple broken links
  fsfe.org/events/2012/event-20121106-01.el.xml
  fsfe.org/events/2012/event-20121106-01.en.xml
  fsfe.org/events/2025/event-20250213-05.en.xml
  fsfe.org/news/2013/news-20130729-02.en.xhtml
  fsfe.org/news/2024/news-20241211-01.en.xhtml
  fsfe.org/news/nl/nl-201704.de.xhtml
  fsfe.org/news/nl/nl-201704.en.xhtml
  fsfe.org/news/nl/nl-201704.es.xhtml
  fsfe.org/news/nl/nl-201704.nl.xhtml
  fsfe.org/news/nl/nl-202305.de.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

YH4F_2026_sponsor_update-2 (#5636)
  fsfe.org/activities/yh4f/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260213-01.en.xml
  fsfe.org/events/2026/event-20260213-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax
