Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

fix: remove old timeline files that returned in a rebase at some point
  fsfe.org/about/README.timeline.md
  fsfe.org/about/timeline.en.xhtml
  fsfe.org/about/timeline.it.png
  fsfe.org/about/timeline.it.svg
  fsfe.org/about/timeline.it.xhtml
  fsfe.org/about/timeline.nl.png
  fsfe.org/about/timeline.nl.svg
  fsfe.org/about/timeline.nl.xhtml
  fsfe.org/about/timeline.png
  fsfe.org/about/timeline.svg
Due: prettier, custom-check, non-en-frontpage-news, simple-syntax-check

feat: rewrite rule for timeline
  fsfe.org/.htaccess
Due: none

feat: update timeline for english
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/timeline.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update xml and less files to match new types
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax-check

chore: bump uv lock
  uv.lock
Due: none

chore: python3.13 -> 3.14
  pyproject.toml
  shell.nix
  uv.lock
Due: taplo

feat: split test by expensive and not, and run only cheap tests on commit
  build/fsfe_website_build_tests_ci/caching_test.py
  build/fsfe_website_build_tests_pre_commit/lib/checks_test.py
  build/fsfe_website_build_tests_pre_commit/lib/misc_test.py
  build/fsfe_website_build_tests_pre_commit/lib/process_file_test.py
  lefthook.yaml
  pre-commit.entrypoint.sh
  pyproject.toml
Due: ruff-check, ruff-format, pyright, pytest, shfmt, prettier, taplo

fix: make the tests faster by building less langauges
  build/fsfe_website_build_tests/caching_test.py
Due: ruff-check, ruff-format, pyright, pytest

chore/updates (#5503)
  pyproject.toml
  shell.nix
  uv.lock
Due: taplo

fix/faster-tests (#5501)
  build/fsfe_website_build_tests_ci/caching_test.py
  build/fsfe_website_build_tests_pre_commit/lib/checks_test.py
  build/fsfe_website_build_tests_pre_commit/lib/misc_test.py
  build/fsfe_website_build_tests_pre_commit/lib/process_file_test.py
  lefthook.yaml
  pre-commit.entrypoint.sh
  pyproject.toml
Due: ruff-check, ruff-format, pyright, pytest, shfmt, prettier, taplo

ADD-event-20251124-01-01-721de325c50bc48c (#5498)
  fsfe.org/events/2025/event-20251124-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251122-01-01-a5f41a05c5229ae6 (#5504)
  fsfe.org/events/2025/event-20251122-01.en.xml
  fsfe.org/events/2025/event-20251122-01.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ci/whitelisting (#5500)
  build/fsfe_website_build/lib/checks.py
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase0/full.py
  build/fsfe_website_build/phase0/global_symlinks.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase1/update_css.py
  build/fsfe_website_build/phase1/update_defaultxsls.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase1/update_stylesheets.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/copy_files.py
  build/fsfe_website_build/phase2/create_index_symlinks.py
  build/fsfe_website_build/phase2/create_language_symlinks.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase2/run.py
  build/fsfe_website_build/phase3/stage_to_target.py
  build/fsfe_website_build_tests_ci/caching_test.py
  build/fsfe_website_build_tests_pre_commit/lib/checks_test.py
  fsfe.org/events/subdir.py
  fsfe.org/internal/subdir.py
  fsfe.org/news/subdir.py
  fsfe.org/search/subdir.py
  status.fsfe.org/filler/early_subdir.py
  status.fsfe.org/xml_structure/subdir.py
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

YH4F: add 2025 winners to yh4f.org (#5505)
  fsfe.org/activities/yh4f/index.en.xhtml
  fsfe.org/news/2025/news-20251025-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add minutes 2024, and 2025
  fsfe.org/about/legal/legal.en.xhtml
  fsfe.org/about/legal/minutes/minutes-2024-09-28.en.pdf
  fsfe.org/about/legal/minutes/minutes-2025-10-11.en.pdf
Due: custom-check, non-en-frontpage-news, simple-syntax-check

timeline: translate homepage to DE
  fsfe.org/about/timeline/index.de.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update link in article
  fsfe.org/news/2023/news-20230418-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-202511-20-yh4f (#5507)
  fsfe.org/news/2025/news-20251120-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-20251120-yh4f (#5508)
  fsfe.org/news/2025/news-20251120-01.en.xhtml
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251120-01.en.xhtml (#5509)
  fsfe.org/news/2025/news-20251120-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251120-01.en.xhtml (#5510)
  fsfe.org/news/2025/news-20251120-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add Danish publisher
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/drawings.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/letters.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

SFP041 remove dot (#5511)
  fsfe.org/news/podcast/2025/episode-41.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: add dependency download tool update what we git ignore for caching and make search compliant with this
  .gitignore
  build/fsfe_website_build/phase1/get_dependencies.py
  build/fsfe_website_build/phase1/run.py
  fsfe.org/dependencies.toml
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, pyright, pytest, taplo

feat: jquery
  fsfe.org/about/js-licences.en.xhtml
  fsfe.org/dependencies.toml
  fsfe.org/scripts/thirdparty/.gitignore
  fsfe.org/scripts/thirdparty/jquery-3.5.1.min.js
  fsfe.org/scripts/thirdparty/jquery-3.5.1.min.map
  global/xslt/internal/fsfe_head.xsl
Due: prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: lunr
  fsfe.org/.gitignore
  fsfe.org/about/js-licences.en.xhtml
  fsfe.org/dependencies.toml
  fsfe.org/scripts/thirdparty/lunr-2.3.9.min.js
  fsfe.org/search/search.en.xhtml
  fsfe.org/search/search.nl.xhtml
Due: prettier, taplo, custom-check, non-en-frontpage-news, simple-syntax-check

feat: move phpmailer to thirdparty
  fsfe.org/cgi-bin/perdiem.php
  fsfe.org/cgi-bin/reimbursement.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/Exception.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/PHPMailer.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/SMTP.php
  lefthook.yaml
Due: php-cs-fixer, prettier

feat: consolidate gitignores
  fsfe.org/.gitignore
  fsfe.org/scripts/thirdparty/.gitignore
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
