Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

merch: comment out nocloud magnets (#5602)
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

people: add avatar for hl (#5603)
  fsfe.org/about/people/avatars/hl-400px.jpg
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Removing top banner (#5604)
  global/xslt/internal/fsfe_body.xsl
Due: format-xsl, simple-syntax

events-20260106-fosdem (#5605)
  fsfe.org/events/2026/event-20260131-01.en.xml
  fsfe.org/events/2026/event-20260131-02.en.xml
  fsfe.org/events/2026/event-20260201-01.en.xml
  fsfe.org/events/2026/event-20260201-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: update timeline styling
  fsfe.org/look/base.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/variables.less
Due: prettier

feat: add noto symbols fonts
  fsfe.org/fonts/NotoSansSymbols-Regular.ttf
  fsfe.org/fonts/NotoSansSymbols2-Regular.ttf
  fsfe.org/look/fonts.less
  fsfe.org/look/main.less
Due: prettier

fix: remove old timeline files that returned in a rebase at some point
  fsfe.org/about/README.timeline.md
  fsfe.org/about/timeline.en.xhtml
  fsfe.org/about/timeline.it.png
  fsfe.org/about/timeline.it.svg
  fsfe.org/about/timeline.it.xhtml
  fsfe.org/about/timeline.nl.png
  fsfe.org/about/timeline.nl.svg
  fsfe.org/about/timeline.nl.xhtml
  fsfe.org/about/timeline.png
  fsfe.org/about/timeline.svg
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: update translations
  fsfe.org/about/timeline/index.de.xhtml
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: rewrite rule for timeline
  fsfe.org/.htaccess
Due: none

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

timeline: translate homepage to DE
  fsfe.org/about/timeline/index.de.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

chore: run prettier
  fsfe.org/look/main.less
Due: prettier

feat: rename categories
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: inline icons
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260108-01-01-c5c528217c30dc55 (#5609)
  fsfe.org/events/2026/event-20260108-01.de.xml
  fsfe.org/events/2026/event-20260108-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20261019-01.en.xml
  fsfe.org/events/2026/event-20261019-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: decode events to associative array always (#5608)
  fsfe.org/cgi-bin/registerevent.php
Due: php-cs-fixer

chore(deps): update docker docker tag to v29
  .drone.yml
Due: prettier

rm old permissions from HE translation
  global/data/texts/texts.he.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix path in links
  global/data/texts/texts.de.xml
  global/data/texts/texts.en.xml
  global/data/texts/texts.fr.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update the status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

news-20260108-ada (#5612)
  fsfe.org/news/2026/news-20260108-01.en.xhtml
  fsfe.org/news/2026/news-20260108-01.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260108-01.en.xhtml (#5613)
  fsfe.org/news/2026/news-20260108-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260108-01.nl.xhtml (#5614)
  fsfe.org/news/2026/news-20260108-01.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update rewrites
  fsfe.org/.htaccess
Due: none

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260126-01-01-a76826138ed50237 (#5611)
  fsfe.org/events/2026/event-20260126-01.de.xml
  fsfe.org/events/2026/event-20260126-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated HE footer text
  global/data/texts/texts.he.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260212-01.nl.xml
  fsfe.org/events/2026/event-20260212-01.nl.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260212-01.en.xml
  fsfe.org/events/2026/event-20260212-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260212-01-01-5bff4c36b6c162f9 (#5616)
  fsfe.org/events/2026/event-20260212-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: use cli based minify if available this is objectively worse in every way required to allow use of minify on alpine, as its pip dists are broken on musl
  build.Dockerfile
  build/fsfe_website_build/phase2/copy_files.py
  pre-commit.Dockerfile
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: switch images to alpine
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
