Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

lefthook.yaml:

pre-commit:
  commands:
    # FORMATTING, changes files
    # Some filetypes must be formatted, and not being so will fail ci
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    php-cs-fixer:
      glob: "*.php"
      run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    tombi:
      glob: "*.toml"
      run: tombi format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    remove-empty-paragraphs:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
      stage_fixed: true

    # CHECKS, does not alter any files
    reuse:
      glob:
        - "*.py"
      run: reuse lint-file {staged_files}
    pytest:
      glob:
        - "*.py"
      run: pytest ./build/fsfe_website_build_tests_pre_commit
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    structure:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/compare-xml-structure.py {staged_files}
    general:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}
# for checks too slow to run all the time
ci-checks:
  commands:
    pytest:
      run: pytest

cleanup: fix simple broken links (#5635)
  fsfe.org/events/2012/event-20121106-01.el.xml
  fsfe.org/events/2012/event-20121106-01.en.xml
  fsfe.org/events/2025/event-20250213-05.en.xml
  fsfe.org/news/2013/news-20130729-02.en.xhtml
  fsfe.org/news/2024/news-20241211-01.en.xhtml
  fsfe.org/news/nl/nl-201704.de.xhtml
  fsfe.org/news/nl/nl-201704.en.xhtml
  fsfe.org/news/nl/nl-201704.es.xhtml
  fsfe.org/news/nl/nl-201704.nl.xhtml
  fsfe.org/news/nl/nl-202305.de.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

check claim type
  fsfe.org/cgi-bin/reimbursement.php
Due: php-cs-fixer

handle who is filling the form
  fsfe.org/cgi-bin/reimbursement.php
Due: php-cs-fixer

feat: prioritise introduction paragraphs and divs (#5793)
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

remove items from shop
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: optionally play notification+sound on completion (#5657)
  build/fsfe_website_build/build.py
  build/fsfe_website_build/globals.py
  build/fsfe_website_build/lib/build_config.py
  build/fsfe_website_build/phase3/completion_notification.py
  pre-commit.Dockerfile
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, tombi, reuse, pytest, pyright

fix preview image size
  fsfe.org/news/podcast/2026/episode-50.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260422-01-01-c1c8fb6c40d0e396 (#5795)
  fsfe.org/events/2026/event-20260422-01.en.xml
  fsfe.org/events/2026/event-20260422-01.nl.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

chore: update uv lock (#5794)
  uv.lock
Due: none

added Berlin group event
  fsfe.org/events/2026/event-20260516-01.de.xml
  fsfe.org/events/2026/event-20260516-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix tags
  fsfe.org/events/2026/event-20260516-01.de.xml
  fsfe.org/events/2026/event-20260516-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: do not link to webpreview for xhtml files, as it is currently broken (#5796)
  status.fsfe.org/translations/subdir.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

YH4F make 14 to 18 years strong (#5797)
  fsfe.org/activities/yh4f/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix groupname (#5799)
  fsfe.org/events/2026/event-20260425-01.en.xml
  fsfe.org/events/2026/event-20260502-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/bosch.png
  fsfe.org/donate/donors/donors-2020.en.xml
  fsfe.org/donate/donors/donors-2025.en.xml
  fsfe.org/donate/donors/donors-2026.en.xml
  fsfe.org/donate/donors/silver-bosch.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated form data handling
  fsfe.org/cgi-bin/registerevent.php
Due: php-cs-fixer

adding news item on DMA report (#5800)
  fsfe.org/news/2026/news-20260420-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fixing html typos (#5801)
  fsfe.org/news/2026/news-20260420-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding toot link (#5802)
  fsfe.org/news/2026/news-20260420-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add irish to languages (#5803)
  global/languages/ga
Due: none

Links to the web team
  fsfe.org/contribute/web/web.de.xhtml
  fsfe.org/contribute/web/web.en.xhtml
  fsfe.org/contribute/web/web.fr.xhtml
  fsfe.org/contribute/web/web.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Links to System Hackers
  fsfe.org/about/people/interviews/lequertier.en.xhtml
  fsfe.org/about/people/interviews/lequertier.it.xhtml
  fsfe.org/about/people/mehl/mehl.de.xhtml
  fsfe.org/about/people/mehl/mehl.en.xhtml
  fsfe.org/about/people/mehl/mehl.nl.xhtml
  fsfe.org/news/2018/news-20180613-01.en.xhtml
  fsfe.org/news/2018/news-20180613-01.es.xhtml
  fsfe.org/news/2018/news-20180613-01.fr.xhtml
  fsfe.org/news/2018/news-20180613-01.nl.xhtml
  fsfe.org/news/2020/news-20201110-01.en.xhtml
  fsfe.org/news/2020/news-20201110-01.it.xhtml
  fsfe.org/news/2021/news-20211110-01.en.xhtml
  fsfe.org/news/2021/news-20211110-01.it.xhtml
  fsfe.org/news/2021/news-20211203-01.de.xhtml
  fsfe.org/news/2021/news-20211203-01.en.xhtml
  fsfe.org/news/2021/news-20211203-01.it.xhtml
  fsfe.org/news/2021/news-20211203-01.nl.xhtml
  fsfe.org/news/2021/news-20211209-01.en.xhtml
  fsfe.org/news/2021/news-20211209-01.it.xhtml
  fsfe.org/news/2022/news-20220310-01.en.xhtml
  fsfe.org/news/2022/news-20220310-01.fr.xhtml
  fsfe.org/news/2022/news-20220310-01.it.xhtml
  fsfe.org/news/2022/news-20220310-01.nl.xhtml
  fsfe.org/news/nl/nl-201611.el.xhtml
  fsfe.org/news/nl/nl-201611.en.xhtml
  fsfe.org/news/nl/nl-201611.es.xhtml
  fsfe.org/news/nl/nl-201611.it.xhtml
  fsfe.org/news/nl/nl-201611.nl.xhtml
  fsfe.org/news/nl/nl-201611.sq.xhtml
  fsfe.org/news/nl/nl-201804.en.xhtml
  fsfe.org/news/nl/nl-201804.es.xhtml
  fsfe.org/news/nl/nl-201804.nl.xhtml
  fsfe.org/news/nl/nl-201804.sq.xhtml
  fsfe.org/news/nl/nl-202004.de.xhtml
  fsfe.org/news/nl/nl-202004.en.xhtml
  fsfe.org/news/nl/nl-202004.es.xhtml
  fsfe.org/news/nl/nl-202004.fr.xhtml
  fsfe.org/news/nl/nl-202004.it.xhtml
  fsfe.org/news/nl/nl-202004.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Links to Translators
  fsfe.org/about/groups.en.xhtml
  fsfe.org/about/people/partsafyllidou/partsafyllidou.en.xhtml
  fsfe.org/contribute/translators/translators.es.xhtml
  fsfe.org/contribute/translators/translators.fr.xhtml
  fsfe.org/contribute/translators/translators.nl.xhtml
  fsfe.org/contribute/translators/translators.pl.xhtml
  fsfe.org/contribute/translators/translators.sq.xhtml
  fsfe.org/events/2022/event-20220808-01.en.xml
  fsfe.org/events/2022/event-20220808-01.it.xml
  fsfe.org/events/2022/event-20220808-01.nl.xml
  fsfe.org/news/2021/news-20211011-01.en.xhtml
  fsfe.org/news/2021/news-20211011-01.es.xhtml
  fsfe.org/news/2021/news-20211011-01.it.xhtml
  fsfe.org/news/2021/news-20211011-01.nl.xhtml
  fsfe.org/news/2022/news-20220928-01.en.xhtml
  fsfe.org/news/2022/news-20220928-01.nl.xhtml
  fsfe.org/news/nl/nl-202107.en.xhtml
  fsfe.org/news/nl/nl-202107.es.xhtml
  fsfe.org/news/nl/nl-202107.it.xhtml
  fsfe.org/news/nl/nl-202107.nl.xhtml
  fsfe.org/news/nl/nl-202207.da.xhtml
  fsfe.org/news/nl/nl-202207.en.xhtml
  fsfe.org/news/nl/nl-202207.es.xhtml
  fsfe.org/news/nl/nl-202207.fr.xhtml
  fsfe.org/news/nl/nl-202207.it.xhtml
  fsfe.org/news/nl/nl-202207.nl.xhtml
  fsfe.org/news/nl/nl-202209.en.xhtml
  fsfe.org/news/nl/nl-202209.es.xhtml
  fsfe.org/news/nl/nl-202209.it.xhtml
  fsfe.org/news/nl/nl-202209.nl.xhtml
  fsfe.org/news/nl/nl-202302.de.xhtml
  fsfe.org/news/nl/nl-202302.en.xhtml
  fsfe.org/news/nl/nl-202302.es.xhtml
  fsfe.org/news/nl/nl-202302.it.xhtml
  fsfe.org/news/nl/nl-202302.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Links to Italy
  fsfe.org/news/nl/nl-202311.en.xhtml
  fsfe.org/news/nl/nl-202311.es.xhtml
  fsfe.org/news/nl/nl-202311.it.xhtml
  fsfe.org/news/nl/nl-202311.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix link protocol
  fsfe.org/contribute/web/web.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update status of Matrix server
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

status.fsfe.org/status.en.xml aktualisiert
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update available merch items
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Principles-update (#5798)
  fsfe.org/about/principles.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added Berlin group event
  fsfe.org/events/2026/event-20260423-01.de.xml
  fsfe.org/events/2026/event-20260423-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Sync with upstream share-buttons (#5810)
  .gitignore
  fsfe.org/.gitignore
  fsfe.org/cgi-bin/share-config.php
  fsfe.org/cgi-bin/share.php
  fsfe.org/config.toml
Due: php-cs-fixer, tombi

tobiasd-patch-1 (#5811)
  fsfe.org/events/2026/event-20260423-01.de.xml
  fsfe.org/events/2026/event-20260423-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat/check-dirs (#5809)
  status.fsfe.org/xml_structure/subdir.py
  tools/ci-checks/checks/check_xml_structure.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

DE translations for PMPC and YH4F (#5812)
  fsfe.org/activities/publiccode/activity.de.xml
  fsfe.org/activities/yh4f/activity.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax
