Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

uploading news item about Android DMA interoperability consultation (#5929)
  fsfe.org/news/2026/news-20260615-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/reviews.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding toot and hightlight tag
  fsfe.org/news/2026/news-20260615-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260615-01.en.xhtml
  fsfe.org/news/2026/news-20260615-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix code for preview img (#5931)
  fsfe.org/news/2026/news-20260615-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix/timeline feedback (#5930)
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260626-01-01-e6870d825941af43 (#5932)
  fsfe.org/events/2026/event-20260626-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix/timeline feedback (#5930)
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/look/main.less
  fsfe.org/look/variables.less
  fsfe.org/news/2026/news-20260615-01.en.xhtml
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

add hf to event assignees (#5933)
  fsfe.org/cgi-bin/registerevent.php
Due: php-cs-fixer

switch event for event registration
  fsfe.org/cgi-bin/registerevent.php
Due: php-cs-fixer

Update fsfe.org/news/2026/news-20260615-01.en.xhtml (#5935)
  fsfe.org/news/2026/news-20260615-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix CSS
  fsfe.org/look/main.less
Due: prettier

ADD-event-20260709-01-01-b6b8aca3206f04d6 (#5934)
  fsfe.org/events/2026/event-20260709-01.de.xml
  fsfe.org/events/2026/event-20260709-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fixed XML escapes
  fsfe.org/events/2026/event-20260626-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding The before FSFE
  fsfe.org/fsfe.xsl
Due: format-xsl, simple-syntax

Feat/add items infomaterial (#5936)
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/contribute/promoitems/active-items.en.xml
  fsfe.org/contribute/promoitems/archived-items.en.xml
  fsfe.org/contribute/promoitems/info-childrensbook-bookmark.en.xml
  fsfe.org/contribute/promoitems/info-coolkids-sticker-flipped.en.xml
  fsfe.org/contribute/promopics/childrensbook-bookmark-thumb.png
  fsfe.org/contribute/promopics/coolkids-sticker-flipped-thumb.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: add alt text and translator tag
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: alt text, figcaptation and strong text
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/events/2026/event-20260619-01.en.xml (#5937)
  fsfe.org/events/2026/event-20260619-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: build dynamic content for language editions of the movie
  fsfe.org/activities/ada-zangemann/data/movie/dansk.en.xml
  fsfe.org/activities/ada-zangemann/data/movie/english.en.xml
  fsfe.org/activities/ada-zangemann/data/movie/french.en.xml
  fsfe.org/activities/ada-zangemann/data/movie/german.en.xml
  fsfe.org/activities/ada-zangemann/data/movie/italian.en.xml
  fsfe.org/activities/ada-zangemann/data/movie/spanish.en.xml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.sources
  fsfe.org/activities/ada-zangemann/movie.xsl
  fsfe.org/look/elements/card-grid.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/contribute/promoitems/info-childrensbook-sticker-ada-2022.en.xml (#5938)
  fsfe.org/contribute/promoitems/info-childrensbook-sticker-ada-2022.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/contribute/promoitems/info-childrensbook-sticker-zangemann-2022.en.xml (#5939)
  fsfe.org/contribute/promoitems/info-childrensbook-sticker-zangemann-2022.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/contribute/promoitems/info-childrensbook-bookmark.en.xml (#5940)
  fsfe.org/contribute/promoitems/info-childrensbook-bookmark.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

style: add iframe style to look good in the grid view of thumbnails
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/look/elements/card-grid.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/contribute/promoitems/info-childrensbook-bookmark.en.xml (#5941)
  fsfe.org/contribute/promoitems/info-childrensbook-bookmark.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/timeline/timeline.en.xml (#5942)
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update telephone information (#5943)
  fsfe.org/about/contact.de.xhtml
  fsfe.org/about/contact.en.xhtml
  fsfe.org/about/contact.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.xsl
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/timeline/timeline.en.xml (#5945)
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260814-01-01-3b3e3bc5ed895f4d (#5944)
  fsfe.org/events/2026/event-20260814-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add events structure with related content via tags
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.sources
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add events structure with related content via tags
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: closing tag missing
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update share-buttons
  fsfe.org/config.toml
Due: tombi

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
