Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

lefthook.yaml:

output:
  - meta # Print lefthook version
  - summary # Print summary block (successful and failed steps)
  - empty_summary # Print summary heading when there are no steps to run
  - success # Print successful steps
  - failure # Print failed steps printing
  - skips # Print "skip" (i.e. no files matched)

pre-commit:
  commands:
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    php-cs-fixer:
      glob: "*.php"
      exclude:
        - "fsfe.org/cgi-bin/PHPMailer/*.php"
      run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
      stage_fixed: true
    pytest:
      glob:
        - "*.py"
        - "build/xslt/*.xsl"
      run: pytest
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    custom-check:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax-check:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
  fsfe.org/donate/donors/ericsson.png
  fsfe.org/donate/donors/silver-ericsson.png
Due: custom-check, non-en-frontpage-news, simple-syntax-check

pre-commit.Dockerfile: add all files in a single COPY
  pre-commit.Dockerfile
Due: none

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251227-01.en.xml
  fsfe.org/events/2025/event-20251227-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

refactor: localmenus add function to get localised files add tests for localised file func
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build_tests_pre_commit/lib/misc_test.py
Due: ruff-check, ruff-format, pyright, pytest

SFP042 release notes (#5565)
  fsfe.org/news/podcast/2025/episode-42.en.xhtml
  fsfe.org/news/podcast/transcript/2025/episode-42.en.vtt
  fsfe.org/news/podcast/transcript/2025/episode-42.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/podcast/2025/episode-42.en.xhtml (#5566)
  fsfe.org/news/podcast/2025/episode-42.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: move summit pictures oddly named file
  fsfe.org/events/2016/summit/pictures/Summit_Pictures
  fsfe.org/events/2016/summit/pictures/Summit_Pictures.md
Due: prettier

fix: remove disabled filed
  fsfe.org/events/2012/event-20120525-01.en.xml.disabled
  pdfreaders.org/readers/ghostscript.disabled
  pdfreaders.org/readers/kpdf.en.disabled
Due: none

feat: rename readmes to markdown
  fsfe.org/about/graphics/sponsoring/source/README.md
  fsfe.org/contribute/promoitems/README
  fsfe.org/contribute/promoitems/README.md
  fsfe.org/donate/donors/README.md
  fsfe.org/templates/README.md
Due: prettier

feat: dynamic file whitelist
  build/fsfe_website_build/phase2/copy_files.py
  fsfe.org/required_deploy_files.txt
Due: ruff-check, ruff-format, pyright, pytest

feat: add shell file extension to odftill
  fsfe.org/cgi-bin/odtfill.sh
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/cgi-bin/weborder.pl
Due: php-cs-fixer, shfmt

feat: ignore more file types that should not be server
  build/fsfe_website_build/phase2/copy_files.py
Due: ruff-check, ruff-format, pyright, pytest

fix: rename worldmemory draft to markdown
  fsfe.org/activities/mankind/worldmemory-plan.md
Due: prettier

fix: remove old files
  fsfe.org/about/people/roy/roy-avatar.jpg.old
Due: none

fix: remove unreferenced file its exactly the same content as ./fsfe.org/news/podcast/transcript/2025/episode-30.en.xhtml but .timestamp file is not referenced anywhere I can find.
  fsfe.org/news/podcast/transcript/2025/episode-30.en.timestamp
Due: none

refactor: element pruning (#5567)
  build/fsfe_website_build/lib/checks.py
Due: ruff-check, ruff-format, pyright, pytest

pre-commit.Dockerfile: remove explicit :latest tag (#5561)
  pre-commit.Dockerfile
Due: none

feat: structured data for status page (#5568)
  status.fsfe.org/index.en.xhtml
  status.fsfe.org/index.sources
  status.fsfe.org/index.xsl
  status.fsfe.org/status.en.xml
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

pre-commit.Dockerfile: do not specify a shell in the entrypoint
  pre-commit.Dockerfile
  pre-commit.entrypoint.sh
Due: shfmt

build.Dockerfile: do not specify a shell in the entrypoint
  build.Dockerfile
  build.entrypoint.sh
Due: shfmt

feature/ada-nl-translation (#5572)
  fsfe.org/activities/ada-zangemann/book-reviews.nl.xhtml
  fsfe.org/activities/ada-zangemann/index.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251227-01.en.xml (#5563)
  fsfe.org/events/2025/event-20251227-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-20251216-congress (#5574)
  fsfe.org/news/2025/news-20251214-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251214-01.en.xhtml (#5575)
  fsfe.org/news/2025/news-20251214-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

set directory for topbanner EN
  global/data/topbanner/topbanner.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

mark some elements LTR
  fsfe.org/about/people/index.en.xhtml
  fsfe.org/contribute/spreadtheword.en.xhtml
  fsfe.org/events/events.en.xhtml
  fsfe.org/events/tools/eventregistration.en.xhtml
  fsfe.org/look/base.less
  fsfe.org/news/news.en.xhtml
  fsfe.org/news/newsletter.en.xhtml
  fsfe.org/news/podcast.en.xhtml
  fsfe.org/order/order.en.xhtml
  global/data/modules/banner-apple-litigation-supporter.en.xml
  global/data/modules/banner-become-contributor.en.xml
  global/data/modules/banner-become-supporter.en.xml
  global/data/modules/banner-become-translator.en.xml
  global/data/modules/banner-router-freedom.en.xml
  global/data/modules/banner-subscribe-box.en.xml
  global/data/modules/banner-subscribe.en.xml
  global/data/modules/banner-supporter.en.xml
  global/data/modules/follow-news.en.xml
  global/data/modules/merch-sale.en.xml
  global/data/modules/order-delay.en.xml
  global/data/modules/social-media.en.xml
Due: prettier, custom-check, non-en-frontpage-news, simple-syntax-check

refactor: localmenus (#5564)
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build_tests_pre_commit/lib/misc_test.py
Due: ruff-check, ruff-format, pyright, pytest

pre-commit.Dockerfile: add all files in a single COPY (#5562)
  pre-commit.Dockerfile
Due: none

update rewrites
  fsfe.org/.htaccess
Due: none

news-20251218-cra (#5577)
  fsfe.org/news/2025/news-20251218-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251218-01.en.xhtml (#5578)
  fsfe.org/news/2025/news-20251218-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update status of Lina
  fsfe.org/about/people/ceballos/ceballos.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update device neutrality sticker preview
  fsfe.org/contribute/promopics/deviceneutrality-sticker-thumb.png
Due: none

Hebrew Translation A&Z (#5570)
  fsfe.org/activities/ada-zangemann/activity.he.xml
  fsfe.org/activities/ada-zangemann/book-reviews.he.xhtml
  fsfe.org/activities/ada-zangemann/drawings.he.xhtml
  fsfe.org/activities/ada-zangemann/index.he.xhtml
  fsfe.org/activities/ada-zangemann/movie.he.xhtml
  fsfe.org/activities/ada-zangemann/spark-childrens-interest-in-coding.he.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Fix year
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

compare-xml-structure.py: Increase log level for exiting message
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest
