Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

feat: add events structure with related content via tags
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.sources
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update team
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update links
  fsfe.org/.htaccess
  fsfe.org/contribute/contribute.bg.xhtml
  fsfe.org/contribute/contribute.de.xhtml
  fsfe.org/contribute/contribute.en.xhtml
  fsfe.org/contribute/contribute.es.xhtml
  fsfe.org/contribute/contribute.fi.xhtml
  fsfe.org/contribute/contribute.fr.xhtml
  fsfe.org/contribute/contribute.it.xhtml
  fsfe.org/contribute/contribute.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update path in example
  fsfe.org/contribute/web/features.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add support for setting the fallback language
  build/fsfe_website_build/globals.py
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase0/global_symlinks.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/create_index_symlinks.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase3/serve_websites.py
  fsfe.org/internal/subdir.py
  fsfe.org/tags/subdir.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: add followup and new content
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.sources
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add events structure with related content via tags
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.sources
  fsfe.org/activities/ada-zangemann/events-readings.xsl
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260705-01.de.xml
  fsfe.org/events/2026/event-20260705-01.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

withdraw button (#5946)
  fsfe.org/cgi-bin/weborder.pl
  fsfe.org/cgi-bin/withdraworder.php
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
  fsfe.org/order/tmpl-thankyou.en.xhtml
  fsfe.org/order/withdrawedfromorder.en.xhtml
  fsfe.org/order/withdraworder.en.xhtml
  fsfe.org/order/withdraworder.sources
  fsfe.org/order/withdraworder.xsl
Due: php-cs-fixer, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: duplicate tag entries (#5949)
  fsfe.org/tags/subdir.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

added required hint for form field
  fsfe.org/events/tools/eventregistration.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: improve cumulative layout shift and add new images
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-about.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-about.webp
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-involved.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-involved.webp
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-resources.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-resources.webp
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-reviews.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-reviews.webp
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnails-events-readings.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnails-events-readings.webp
  fsfe.org/look/elements/card-grid.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/events/2026/event-20260619-01.en.xml (#5952)
  fsfe.org/events/2026/event-20260619-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add tag of ada-zangemann (#5953)
  fsfe.org/events/2026/event-20260529-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add tag of ada-zangemann (#5954)
  fsfe.org/events/2026/event-20260515-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add tag of ada-zangemann (#5955)
  fsfe.org/events/2026/event-20260507-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add tag of ada-zangemann (#5957)
  fsfe.org/events/2026/event-20260201-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: modify structure for events
  fsfe.org/activities/ada-zangemann/events-readings.xsl
  global/data/texts/texts.en.xml
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: remove a dot
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add Tübix 2026 (#5958)
  fsfe.org/events/2026/event-20260704-01.de.xml
  fsfe.org/events/2026/event-20260704-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260709-02-01-e72f5f9aee3fc982 (#5959)
  fsfe.org/events/2026/event-20260709-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix link to Open Letter (#5960)
  fsfe.org/activities/publiccode/brochure.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add sidebar
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix wrong openletter links (#5963)
  fsfe.org/activities/publiccode/get-active.es.xhtml
  fsfe.org/activities/publiccode/get-active.it.xhtml
  fsfe.org/activities/publiccode/publiccode.de.xhtml
  fsfe.org/activities/publiccode/publiccode.es.xhtml
  fsfe.org/activities/publiccode/publiccode.fr.xhtml
  fsfe.org/activities/publiccode/publiccode.it.xhtml
  fsfe.org/activities/publiccode/publiccode.nl.xhtml
  fsfe.org/activities/publiccode/publiccode.tr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: build dynamic content for language editions of the book
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/about.sources
  fsfe.org/activities/ada-zangemann/about.xsl
  fsfe.org/activities/ada-zangemann/data/language/book/danish.en.xml
  fsfe.org/activities/ada-zangemann/data/language/book/english.en.xml
  fsfe.org/activities/ada-zangemann/data/language/book/french.en.xml
  fsfe.org/activities/ada-zangemann/data/language/book/german.en.xml
  fsfe.org/activities/ada-zangemann/data/language/book/italian.en.xml
  fsfe.org/activities/ada-zangemann/data/language/book/norwegian.en.xml
  fsfe.org/activities/ada-zangemann/data/language/movie/danish.en.xml
  fsfe.org/activities/ada-zangemann/data/language/movie/english.en.xml
  fsfe.org/activities/ada-zangemann/data/language/movie/french.en.xml
  fsfe.org/activities/ada-zangemann/data/language/movie/german.en.xml
  fsfe.org/activities/ada-zangemann/data/language/movie/italian.en.xml
  fsfe.org/activities/ada-zangemann/data/language/movie/spanish.en.xml
  fsfe.org/activities/ada-zangemann/movie.sources
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

reformat date on long events
  global/xslt/internal/events.xsl
Due: format-xsl, simple-syntax

fix XML escapes
  fsfe.org/events/2026/event-20260709-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add new info
  fsfe.org/activities/ada-zangemann/data/language/book/norwegian.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

resolve conflicts with timeline files
  fsfe.org/about/timeline/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

resolve conflicts with timeline files
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix local groups page add DE docs link
  fsfe.org/about/groups.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update debian Docker tag to trixie-20260623 (#5965)
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

adding teufel speaker review news item
  fsfe.org/news/2026/news-20260629-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260721-01.en.xml
  fsfe.org/events/2026/event-20260721-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260629-01.en.xhtml
  fsfe.org/news/2026/news-20260629-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260721-01.de.xml
  fsfe.org/events/2026/event-20260721-01.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
