Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

lefthook.yaml:

pre-commit:
  commands:
    # FORMATTING, changes files
    # Some filetypes must be formatted, and not being so will fail ci
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    php-cs-fixer:
      glob: "*.php"
      run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    tombi:
      glob: "*.toml"
      run: tombi format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    remove-empty-paragraphs:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
      stage_fixed: true

    # CHECKS, does not alter any files
    reuse:
      glob:
        - "*.py"
      run: reuse lint-file {staged_files}
    pytest:
      glob:
        - "*.py"
      run: pytest ./build/fsfe_website_build_tests_pre_commit
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    structure:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/compare-xml-structure.py {staged_files}
    general:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}
# for checks too slow to run all the time
ci-checks:
  commands:
    pytest:
      run: pytest

unify style for GBN
  fsfe.org/activities/gbn/gbn.cs.xhtml
  fsfe.org/activities/gbn/gbn.de.xhtml
  fsfe.org/activities/gbn/gbn.el.xhtml
  fsfe.org/activities/gbn/gbn.en.xhtml
  fsfe.org/activities/gbn/gbn.es.xhtml
  fsfe.org/activities/gbn/gbn.fr.xhtml
  fsfe.org/activities/gbn/gbn.it.xhtml
  fsfe.org/activities/gbn/gbn.nl.xhtml
  fsfe.org/activities/gbn/gbn.pt.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix some alt missing tag and h2 differences
  fsfe.org/activities/20years/20years.de.xhtml
  fsfe.org/activities/20years/20years.en.xhtml
  fsfe.org/activities/20years/20years.es.xhtml
  fsfe.org/activities/20years/20years.it.xhtml
  fsfe.org/activities/gplv3/gplv3.es.xhtml
  fsfe.org/activities/gplv3/gplv3.it.xhtml
  fsfe.org/activities/gplv3/gplv3.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

unify styles for mankind, angula, eucd, tvs, whyfs
  fsfe.org/activities/agnula/agnula.ca.xhtml
  fsfe.org/activities/agnula/agnula.de.xhtml
  fsfe.org/activities/agnula/agnula.en.xhtml
  fsfe.org/activities/agnula/agnula.it.xhtml
  fsfe.org/activities/agnula/agnula.nn.xhtml
  fsfe.org/activities/eucd/eucd.cs.xhtml
  fsfe.org/activities/eucd/eucd.en.xhtml
  fsfe.org/activities/eucd/eucd.it.xhtml
  fsfe.org/activities/mankind/mankind.ca.xhtml
  fsfe.org/activities/mankind/mankind.de.xhtml
  fsfe.org/activities/mankind/mankind.en.xhtml
  fsfe.org/activities/mankind/mankind.fr.xhtml
  fsfe.org/activities/tgs/tgs.de.xhtml
  fsfe.org/activities/tgs/tgs.en.xhtml
  fsfe.org/activities/tgs/tgs.fr.xhtml
  fsfe.org/activities/tgs/tgs.sv.xhtml
  fsfe.org/activities/whyfs/whyfs.da.xhtml
  fsfe.org/activities/whyfs/whyfs.de.xhtml
  fsfe.org/activities/whyfs/whyfs.el.xhtml
  fsfe.org/activities/whyfs/whyfs.en.xhtml
  fsfe.org/activities/whyfs/whyfs.fr.xhtml
  fsfe.org/activities/whyfs/whyfs.it.xhtml
  fsfe.org/activities/whyfs/whyfs.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix some alt missing tag and h2 differences
  fsfe.org/activities/20years/20years.de.xhtml
  fsfe.org/activities/20years/20years.en.xhtml
  fsfe.org/activities/20years/20years.es.xhtml
  fsfe.org/activities/20years/20years.it.xhtml
  fsfe.org/activities/agnula/agnula.en.xhtml
  fsfe.org/activities/agnula/agnula.nn.xhtml
  fsfe.org/activities/msooxml/msooxml.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix critical checks in some images
  fsfe.org/activities/20years/20years.de.xhtml
  fsfe.org/activities/20years/20years.en.xhtml
  fsfe.org/activities/20years/20years.es.xhtml
  fsfe.org/activities/20years/20years.it.xhtml
  fsfe.org/activities/wipo/wipo.es.xhtml
  fsfe.org/activities/wipo/wipo.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated PD form
  fsfe.org/internal/pd.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding the logo to the schedule
  fsfe.org/about/summermeeting-schedule.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix pd form
  fsfe.org/internal/pd.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: stop using weird drone shell pointed at wrong git repo that never worked (#6014)
  .gitignore
  README.md
  drone-shell.nix
  shell.nix
Due: prettier

Fix: url opening (#6013)
  build/fsfe_website_build/phase3/serve_websites.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

Update debian Docker tag to trixie-20260713 (#6012)
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

Small fya update (#6015)
  fsfe.org/activities/android/iodeOS.png
  fsfe.org/activities/android/liberate.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix link to iodé logo
  fsfe.org/activities/android/liberate.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix scale
  fsfe.org/activities/android/iodeOS.png
Due: none

revert c4e464ba460e3d827c8440aa26aa070914977644
  build/fsfe_website_build/phase3/serve_websites.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

add fsfe25 schedule in activities (#6018)
  fsfe.org/activities/fsfe25/activity.en.xml
  fsfe.org/activities/fsfe25/fsfe25.en.xhtml
  fsfe.org/graphics/logos/fsfe25.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Redirection FSFE 25 (#6019)
  fsfe.org/.htaccess
Due: none

some changes in the titles and pictures used
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/letters.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

filled out missing parts for getting involved and in the overview
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added example slides
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update resource page with oer resources and change structure
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

include wallpapers
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix url
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

further balancing of pictures etc.
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

xmllint
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

link pdf-file with talks (#6020)
  fsfe.org/activities/fsfe25/fsfe25.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

add sharepic and short video about creating of fan art
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

add full names (#6021)
  fsfe.org/activities/fsfe25/fsfe25.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding dma news (#6022)
  fsfe.org/news/2026/news-20260724-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix thumbnail movie and some grammar improvements
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/look/elements/card-grid.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260724-01.en.xhtml (#6023)
  fsfe.org/news/2026/news-20260724-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax
