Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

remove trailing whitespaces
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update merch
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: paragraph ci check
  tools/ci-checks/general.sh
  tools/ci-checks/remove-empty-paragraphs.xsl
Due: shfmt, format-xsl, simple-syntax-check

feat: lunr
  fsfe.org/.gitignore
  fsfe.org/about/js-licences.en.xhtml
  fsfe.org/dependencies.toml
  fsfe.org/scripts/thirdparty/.gitignore
  fsfe.org/scripts/thirdparty/lunr-2.3.9.min.js
  fsfe.org/search/search.en.xhtml
  fsfe.org/search/search.nl.xhtml
Due: prettier, taplo, custom-check, non-en-frontpage-news, simple-syntax-check

fix: bootstrap urls
  fsfe.org/about/js-licences.en.xhtml
  global/xslt/internal/body_scripts.xsl
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: jquery
  fsfe.org/.gitignore
  fsfe.org/about/js-licences.en.xhtml
  fsfe.org/dependencies.toml
  fsfe.org/scripts/thirdparty/.gitignore
  fsfe.org/scripts/thirdparty/jquery-3.5.1.min.js
  fsfe.org/scripts/thirdparty/jquery-3.5.1.min.map
  global/xslt/internal/fsfe_head.xsl
Due: prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: move phpmailer to thirdparty
  fsfe.org/cgi-bin/perdiem.php
  fsfe.org/cgi-bin/reimbursement.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/Exception.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/PHPMailer.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/SMTP.php
  lefthook.yaml
Due: php-cs-fixer, prettier

feat: add dependency download tool update what we git ignore for caching and make search compliant with this
  .gitignore
  build/fsfe_website_build/phase0/full.py
  build/fsfe_website_build/phase1/get_dependencies.py
  build/fsfe_website_build/phase1/run.py
  fsfe.org/dependencies.toml
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, pyright, pytest, taplo

feat: fetch phpmailer using new get_dependencies
  fsfe.org/.gitignore
  fsfe.org/cgi-bin/thirdparty/PHPMailer/Exception.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/PHPMailer.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/SMTP.php
  fsfe.org/dependencies.toml
  lefthook.yaml
Due: php-cs-fixer, prettier, taplo

feat: cache dependencies in global cache allows full builds without internet hits
  build/fsfe_website_build/build.py
  build/fsfe_website_build/phase0/clean_cache.py
  build/fsfe_website_build/phase1/get_dependencies.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, pyright, pytest, taplo

fix: remove unused gitignore entry
  .gitignore
Due: none

feat: use mirrors of git repos
  fsfe.org/dependencies.toml
Due: taplo

fix: caching_test
  build/fsfe_website_build_tests_ci/caching_test.py
Due: ruff-check, ruff-format, pyright, pytest

feat: add clean to docs+ci
  .drone.yml
  build/fsfe_website_build/phase0/clean_cache.py
  docker-compose.yml
  docs/management.md
Due: ruff-check, ruff-format, pyright, pytest, prettier

feat: global variables for cache dir search uses global cache for nltk data parse deps relative to root only, preventing some unnecessarry fetches
  build/fsfe_website_build/globals.py
  build/fsfe_website_build/phase0/clean_cache.py
  build/fsfe_website_build/phase1/get_dependencies.py
  docs/contributing.md
  fsfe.org/dependencies.toml
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, pyright, pytest, prettier, taplo

feat: simplify drone+logging
  .drone.yml
Due: prettier

feat: remove bootstrap
  fsfe.org/dependencies.toml
Due: taplo

fix: ci weirdness
  .drone.yml
Due: prettier

updated status
  status.fsfe.org/index.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251215-01-01-f63ce3c5458575ae (#5551)
  fsfe.org/events/2025/event-20251215-01.de.xml
  fsfe.org/events/2025/event-20251215-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-20251209-nl (#5553)
  fsfe.org/news/nl/nl-202512.en.xhtml
  fsfe.org/news/nl/nl-202512.nl.xhtml
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest, custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/nl/nl-202512.nl.xhtml (#5554)
  fsfe.org/news/nl/nl-202512.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/nl/nl-202512.en.xhtml (#5555)
  fsfe.org/news/nl/nl-202512.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/nl/nl-202512.en.xhtml (#5556)
  fsfe.org/news/nl/nl-202512.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: localmenus (#5558)
  build/fsfe_website_build/phase1/update_localmenus.py
Due: ruff-check, ruff-format, pyright, pytest

update rewrites
  fsfe.org/.htaccess
Due: none

fix date in newsletter
  fsfe.org/news/nl/nl-202511.en.xhtml
  fsfe.org/news/nl/nl-202512.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: copy files with shutil rather than reading and writing contents (#5560)
  build/fsfe_website_build/phase2/copy_files.py
Due: ruff-check, ruff-format, pyright, pytest

feat/more-ruff (#5559)
  build/fsfe_website_build/lib/misc.py
  fsfe.org/internal/subdir.py
  pyproject.toml
Due: ruff-check, ruff-format, pyright, pytest, taplo

pre-commit.Dockerfile: remove explicit :latest tag
  pre-commit.Dockerfile
Due: none

Migrate pre-commit.entrypoint.sh to POSIX sh (#5540)
  pre-commit.Dockerfile
  pre-commit.entrypoint.sh
Due: shfmt

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
