Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

feat: update translations
  fsfe.org/about/timeline/index.de.xhtml
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

timeline: translate homepage to DE
  fsfe.org/about/timeline/index.de.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: rename categories
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

fix: remove old timeline files that returned in a rebase at some point
  fsfe.org/about/README.timeline.md
  fsfe.org/about/timeline.en.xhtml
  fsfe.org/about/timeline.it.png
  fsfe.org/about/timeline.it.svg
  fsfe.org/about/timeline.it.xhtml
  fsfe.org/about/timeline.nl.png
  fsfe.org/about/timeline.nl.svg
  fsfe.org/about/timeline.nl.xhtml
  fsfe.org/about/timeline.png
  fsfe.org/about/timeline.svg
Due: prettier, custom-check, non-en-frontpage-news, simple-syntax-check

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/activities/ada-zangemann/movie.it.xhtml (#5536)
  fsfe.org/activities/ada-zangemann/movie.it.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

updated status
  status.fsfe.org/index.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix date (2026 instead of 2025)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: use compiled regex (#5537)
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase1/update_stylesheets.py
  build/fsfe_website_build/phase1/update_xmllists.py
Due: ruff-check, ruff-format, pyright, pytest

feat: minify files on copy, rather than on creation (#5527)
  build/fsfe_website_build/phase1/update_css.py
  build/fsfe_website_build/phase2/copy_files.py
  fsfe.org/.gitignore
  global/xslt/internal/fsfe_head.xsl
Due: ruff-check, ruff-format, pyright, pytest, format-xsl, simple-syntax-check

news-20251204-twitter (#5539)
  fsfe.org/news/2025/news-20251204-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

pre-commit.entrypoint.sh: remove pipefail option
  pre-commit.entrypoint.sh
Due: shfmt

pre-commit.entrypoint.sh: remove unset option
  pre-commit.entrypoint.sh
Due: shfmt

pre-commit.entrypoint.sh: remove bashism
  pre-commit.entrypoint.sh
Due: shfmt

pre-commit.entrypoint.sh: skip variable creation
  pre-commit.entrypoint.sh
Due: shfmt

build.entrypoint.sh: remove -u
  build.entrypoint.sh
Due: shfmt

build.entrypoint.sh: remove pipefail
  build.entrypoint.sh
Due: shfmt

build.entrypoint.sh: use POSIX sh
  build.Dockerfile
  build.entrypoint.sh
Due: shfmt

pre-commit.entrypoint.sh: migrate to posix sh
  pre-commit.entrypoint.sh
Due: shfmt

build.entrypoint.sh: simplify /tmp/key creation
  build.entrypoint.sh
Due: shfmt

pre-commit.Dockerfile: remove trailing whitespace
  pre-commit.Dockerfile
Due: none

build.Dockerfile: remove trailing whitespace
  build.Dockerfile
Due: none

revert 78427e78c31a37f235337d4b82bf8841e93172bf
  build.entrypoint.sh
Due: shfmt

revert 5ae8a31dc3fd34015144a4edb812f1b256addd88
  build.Dockerfile
  build.entrypoint.sh
Due: shfmt

revert ec801da05c55be6b44fe8129e3a1b72fc93a1d2c
  build.entrypoint.sh
Due: shfmt

revert fb7eaaa21b08f855b68f950c3e85315c86df2227
  build.entrypoint.sh
Due: shfmt

revert 3564d43036c64484524703b5686fe2841ac4e049
  pre-commit.entrypoint.sh
Due: shfmt

feat: phpcs non interactive mode and min php version set (#5549)
  .gitignore
  composer.json
  lefthook.yaml
Due: prettier

Update fsfe.org/news/2025/news-20251204-01.en.xhtml (#5550)
  fsfe.org/news/2025/news-20251204-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: kill previous ci runs (#5546)
  .drone.yml
Due: prettier

feat: phpcs fixer config
  .php-cs-fixer.dist.php
Due: php-cs-fixer

feat: run php-cs-fixer on all php files
  fsfe.org/cgi-bin/mail-signup.php
  fsfe.org/cgi-bin/perdiem.php
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/cgi-bin/registerevent.php
  fsfe.org/cgi-bin/reimbursement.php
  fsfe.org/cgi-bin/share-config.php
  fsfe.org/cgi-bin/share.php
  fsfe.org/templates/promoorder/promoorder.php
  fsfe.org/templates/registerevent/event.php
  fsfe.org/templates/registerevent/mail.php
  fsfe.org/templates/registerevent/mailstaff.php
  fsfe.org/templates/registerevent/wiki.php
Due: php-cs-fixer

fix: php-cs fixer multitile
  lefthook.yaml
Due: prettier

feat: rename readmes to markdown
  fsfe.org/about/graphics/sponsoring/source/README.md
  fsfe.org/contribute/promoitems/README
  fsfe.org/contribute/promoitems/README.md
  fsfe.org/donate/donors/README.md
  fsfe.org/templates/README.md
Due: prettier

feat: ignore more file types that should not be server
  build/fsfe_website_build/phase2/copy_files.py
Due: ruff-check, ruff-format, pyright, pytest

feat: add shell file extension to odftill
  fsfe.org/cgi-bin/odtfill.sh
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/cgi-bin/weborder.pl
Due: php-cs-fixer, shfmt

feat: move summit pictures oddly named file
  fsfe.org/events/2016/summit/pictures/Summit_Pictures
  fsfe.org/events/2016/summit/pictures/Summit_Pictures.md
Due: prettier

feat: dynamic file whitelist
  build/fsfe_website_build/phase2/copy_files.py
  fsfe.org/required_deploy_files.txt
Due: ruff-check, ruff-format, pyright, pytest

pre-commit.Dockerfile: do not reinstall essential packages (#5545)
  pre-commit.Dockerfile
Due: none

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
