Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

Update Radio Directive (RED) page with newest developments (#5808)
  fsfe.org/activities/radiodirective/radiodirective.de.xhtml
  fsfe.org/activities/radiodirective/radiodirective.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Re-add share buttons at the bottom of articles
  fsfe.org/.gitignore
  fsfe.org/config.toml
  fsfe.org/graphics/services/bluesky_white.png
  fsfe.org/look/elements/sharebuttons-services.less
  global/xslt/internal/fsfe_mainsection.xsl
  global/xslt/internal/sharebuttons.xsl
Due: prettier, tombi, format-xsl, simple-syntax

update sidebar in news article
  fsfe.org/news/2026/news-20260420-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix date for Bonnie's talk @ OggCamp (#5816)
  fsfe.org/events/2026/event-20260425-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update styling
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/variables.less
Due: prettier

ADD-event-20260427-01-01-ac7df8120a94e1f0 (#5817)
  fsfe.org/events/2026/event-20260427-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update available merch items
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Improvements suggested by Richard and setting the status to finished (#5818)
  fsfe.org/activities/radiodirective/activity.en.xml
  fsfe.org/activities/radiodirective/activity.it.xml
  fsfe.org/activities/radiodirective/activity.nl.xml
  fsfe.org/activities/radiodirective/activity.pt.xml
  fsfe.org/activities/radiodirective/radiodirective.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding news item about LLW26 (#5819)
  fsfe.org/news/2026/news-20260427-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding Toot and hightlights tag (#5820)
  fsfe.org/news/2026/news-20260427-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update Sofía's title to Policy Consultant (#5821)
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add Reddit and LinkedIn to share buttons
  fsfe.org/config.toml
  fsfe.org/graphics/services/linkedin_white.png
  fsfe.org/look/elements/sharebuttons-services.less
  global/xslt/internal/sharebuttons.xsl
Due: prettier, tombi, format-xsl, simple-syntax

Update sharee-buttons to latest revision
  fsfe.org/config.toml
Due: tombi

Patrick and Marta switch roles (#5824)
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update the status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260507-01-01-9a94f94ec8b2eab5 (#5825)
  fsfe.org/events/2026/event-20260507-01.en.xml
  fsfe.org/events/2026/event-20260507-01.nl.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated internal forms
  fsfe.org/cgi-bin/expense-request.pl
  global/data/modules/fsfe-employee-options.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated team listing
  fsfe.org/about/people/avatars/jithendra.jpg
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding RED news item (#5826)
  fsfe.org/news/2026/news-20260430-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260430-01.en.xhtml
  fsfe.org/news/2026/news-20260430-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix broken link
  fsfe.org/news/2026/news-20260430-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: do not have a default direction, error to force additon to lang direction mappings
  build/fsfe_website_build/lib/process_file.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: add missing lang codes
  build/fsfe_website_build/lib/lang_directions.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: only apply rtl directions
  build/fsfe_website_build/lib/process_file.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: better error reporting for missing lang codes
  build/fsfe_website_build/lib/process_file.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: set lang and direction on included elements this should prevent weird rtl issues
  build/fsfe_website_build/lib/lang_directions.py
  build/fsfe_website_build/lib/process_file.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: add en to lang mappings
  build/fsfe_website_build/lib/lang_directions.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

adding press release (#5828)
  fsfe.org/news/2026/news-20260504-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding picture and tag
  fsfe.org/news/2026/news-20260504-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260504-01.en.xhtml
  fsfe.org/news/2026/news-20260504-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix HTML typos in NHS England PR
  fsfe.org/news/2026/news-20260504-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fixing small html issues
  fsfe.org/news/2026/news-20260504-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
