Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

ADD-event-20251009-02-01-33dd08b25cec6365 (#5378)
  fsfe.org/events/2025/event-20251009-02.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251009-01-01-fd72c5a10e63d343 (#5379)
  fsfe.org/events/2025/event-20251009-01.de.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251014-02.en.xml
  fsfe.org/events/2025/event-20251014-02.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251014-02.de.xml
  fsfe.org/events/2025/event-20251014-02.de.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251014-02-01-2cb07b7e1d057156 (#5380)
  fsfe.org/events/2025/event-20251014-02.de.xml
  fsfe.org/events/2025/event-20251014-02.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ilovefs: fix typo
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ilovefs: fix typo (#5381)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix typo in event
  fsfe.org/events/2025/event-20251009-02.de.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

promo and merch: add balloons and tattoos images
  fsfe.org/contribute/promopics/balloon-blue-fsfe-back.jpg
  fsfe.org/contribute/promopics/baloon-blue-fsfe-logo.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-1.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-2.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-1.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-2.jpg
Due: none

promo and merch: add balloons and tattoos images (#5382)
  fsfe.org/contribute/promopics/balloon-blue-fsfe-back.jpg
  fsfe.org/contribute/promopics/baloon-blue-fsfe-logo.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-1.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-2.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-1.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-2.jpg
Due: none

add promo pics
  fsfe.org/contribute/promopics/ada-zangemann-tattoos.jpg
  fsfe.org/contribute/promopics/fsfe-blue-balloons.jpg
  fsfe.org/contribute/promopics/fsfe-tattoos.jpg
Due: none

Add promo pictures and data entry
  fsfe.org/contribute/promoitems/active-items.en.xml
  fsfe.org/contribute/promoitems/info-fsfe-blue-balloon.xml
  fsfe.org/contribute/promopics/fsfe-blue-balloon.jpg
  fsfe.org/order/data/items.en.xml
  fsfe.org/order/data/pictures/ada-zangemann-tattoos.jpg
  fsfe.org/order/data/pictures/fsfe-tattoos.jpg
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding Oct newsletter
  fsfe.org/news/nl/nl-202510.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding Oct newsletter (#5385)
  fsfe.org/news/nl/nl-202510.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding toot
  fsfe.org/news/nl/nl-202510.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding toot (#5386)
  fsfe.org/news/nl/nl-202510.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: mount source code instead of copying into images
  .drone.yml
  build.Dockerfile
  docker-compose.yml
  pre-commit.Dockerfile
Due: prettier

feat: mount source code instead of copying into images (#5330)
  .drone.yml
  build.Dockerfile
  docker-compose.yml
  pre-commit.Dockerfile
Due: prettier

Update fsfe.org/news/2025/news-20250922-01.en.xhtml
  fsfe.org/news/2025/news-20250922-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20250922-01.en.xhtml (#5387)
  fsfe.org/news/2025/news-20250922-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: cache docker images
  .drone.yml
Due: prettier

fix: some docker syntax
  .drone.yml
  build.Dockerfile
  pre-commit.Dockerfile
Due: prettier

feat/caching (#5333)
  .drone.yml
  build.Dockerfile
  pre-commit.Dockerfile
Due: prettier

updated status
  status.fsfe.org/index.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update sofiaritz
  fsfe.org/about/people/avatars/sofiaritz.png
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update sofiaritz (#5388)
  fsfe.org/about/people/avatars/sofiaritz.png
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

changing activ zooom status to finished
  fsfe.org/activities/zooom/activity.en.xml
  fsfe.org/activities/zooom/activity.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

changing activ zooom status to finished (#5389)
  fsfe.org/activities/zooom/activity.en.xml
  fsfe.org/activities/zooom/activity.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

changing zooom activ status
  fsfe.org/activities/zooom/activity.en.xml
  fsfe.org/activities/zooom/activity.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

changing zooom activ status (#5390)
  fsfe.org/activities/zooom/activity.en.xml
  fsfe.org/activities/zooom/activity.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251107-09.en.xml
  fsfe.org/events/2025/event-20251107-09.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: remove unneeded caching from website
  .drone.yml
Due: prettier

fix: remove unneeded caching from website (#5392)
  .drone.yml
Due: prettier

fix: typo in readme
  README.md
Due: prettier

fix: typo in readme (#5393)
  README.md
Due: prettier

update team
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

SFP#39: news item and publication
  fsfe.org/news/podcast/episode-39.en.xhtml
  fsfe.org/news/podcast/transcript/episode-39.en.vtt
  fsfe.org/news/podcast/transcript/episode-39.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

new promo pics: smaller file sizes
  fsfe.org/contribute/promopics/fsfe-blue-balloon.jpg
  fsfe.org/order/data/pictures/ada-zangemann-tattoos.jpg
  fsfe.org/order/data/pictures/fsfe-tattoos.jpg
Due: none

add merchandise info texts
  fsfe.org/order/data/info/ada-zangemann-tattoos.de.xml
  fsfe.org/order/data/info/ada-zangemann-tattoos.en.xml
  fsfe.org/order/data/info/fsfe-tattoos.de.xml
  fsfe.org/order/data/info/fsfe-tattoos.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
