Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

Updating CARE Team membership (#5906)
  fsfe.org/about/codeofconduct.en.xhtml
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260609-01-01-93b878d05e01d0ba (#5903)
  fsfe.org/events/2026/event-20260609-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix/items merch20260608 (#5910)
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.es.xhtml
  fsfe.org/about/timeline/timeline.es.xml
  fsfe.org/order/data/items.en.xml
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding June newsletter (#5911)
  fsfe.org/news/nl/nl-202606.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Devconf event entry (#5912)
  fsfe.org/events/2026/event-20260618-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding toot
  fsfe.org/news/nl/nl-202606.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Proposed changes to the timeline
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Chore/lints (#5917)
  build/fsfe_website_build/build.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  fsfe.org/news/subdir.py
  fsfe.org/tags/subdir.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: cooling off period for python packages (#5918)
  pyproject.toml
  uv.lock
Due: tombi

Feat/collapse (#5920)
  fsfe.org/about/timeline/default.xsl
Due: format-xsl, simple-syntax

remove <q> text </q> when not in EN file (#5873)
  fsfe.org/activities/ada-zangemann/data/reviews/1291-kauffmann.fr.xml
  fsfe.org/activities/avm-gpl-violation/avm-gpl-violation.de.xhtml
  fsfe.org/activities/pdfreaders/follow-up.de.xhtml
  fsfe.org/activities/swpat/nortel.en.xhtml
  fsfe.org/contribute/translators/wordlist.da.xhtml
  fsfe.org/freesoftware/freesoftware.ar.xhtml
  fsfe.org/freesoftware/freesoftware.en.xhtml
  fsfe.org/freesoftware/gnuproject.da.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fixing missing "The" before FSFE
  fsfe.org/about/timeline/timeline.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: rewrite rules for moved pages
  fsfe.org/.htaccess
Due: none

fix: move some incorrectly placed items to news items step one of solving https://git.fsfe.org/FSFE/fsfe-website/issues/5621
  fsfe.org/news/2010/divide-and-reconquer.png
  fsfe.org/news/2010/fscons-2010.png
  fsfe.org/news/2010/news-20100918-01.el.xhtml
  fsfe.org/news/2010/news-20100918-01.en.xhtml
  fsfe.org/news/2010/news-20101105-01.el.xhtml
  fsfe.org/news/2010/news-20101105-01.en.xhtml
  fsfe.org/news/2010/news-20101105-01.pt.xhtml
  fsfe.org/news/2010/sfd-2010.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update debian Docker tag to trixie-20260518 (#5922)
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

Fix/events folder (#5921)
  fsfe.org/.htaccess
  fsfe.org/news/2010/divide-and-reconquer.png
  fsfe.org/news/2010/fscons-2010.png
  fsfe.org/news/2010/news-20100918-01.el.xhtml
  fsfe.org/news/2010/news-20100918-01.en.xhtml
  fsfe.org/news/2010/news-20101105-01.el.xhtml
  fsfe.org/news/2010/news-20101105-01.en.xhtml
  fsfe.org/news/2010/news-20101105-01.pt.xhtml
  fsfe.org/news/2010/sfd-2010.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Pics src update (#5924)
  fsfe.org/about/people/interviews/cryptie.it.xhtml
  fsfe.org/about/people/interviews/gkotsopoulou.it.xhtml
  fsfe.org/about/people/interviews/grun.it.xhtml
  fsfe.org/about/people/interviews/mueller.it.xhtml
  fsfe.org/about/people/interviews/ockers.it.xhtml
  fsfe.org/about/people/interviews/snow.it.xhtml
  fsfe.org/about/people/interviews/weitzhofer.it.xhtml
  fsfe.org/about/people/interviews/zerolo.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update docker Docker tag to v29 (#5923)
  .drone.yml
Due: prettier

SFP052 release notes (#5925)
  fsfe.org/news/podcast/2026/episode-52.en.xhtml
  fsfe.org/news/podcast/transcript/2026/episode-52.en.vtt
  fsfe.org/news/podcast/transcript/2026/episode-52.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/podcast/2026/episode-52.en.xhtml
  fsfe.org/news/podcast/2026/episode-52.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

bump docker version
  .drone.yml
Due: prettier

change structure of landing page
  fsfe.org/activities/ada-zangemann/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: change structure of landiing page
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: change structure of sections
  fsfe.org/activities/ada-zangemann/book/book.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.da.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.de.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.es.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.fr.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.he.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.it.xhtml
  fsfe.org/activities/ada-zangemann/readings/readings.en.xhtml
  fsfe.org/activities/ada-zangemann/resources/resources.en.xhtml
  fsfe.org/activities/ada-zangemann/reviews.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

style: add specific look for landing page
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/look/elements/card-grid.less
  fsfe.org/look/main.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

style: add specific look for landing page
  fsfe.org/look/elements/card-grid.less
Due: prettier

feat: add thumbnails for each section
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-readings.png
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/readings/readings.en.xhtml
  fsfe.org/activities/ada-zangemann/reviews.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/book/book.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/readings/readings.en.xhtml
  fsfe.org/activities/ada-zangemann/resources/resources.en.xhtml
  fsfe.org/activities/ada-zangemann/reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnails-readings.png
  fsfe.org/look/elements/card-grid.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/book/book.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/readings/readings.en.xhtml
  fsfe.org/activities/ada-zangemann/resources/resources.en.xhtml
  fsfe.org/activities/ada-zangemann/reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-book.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-involved.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-readings.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-resources.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-reviews.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail.png
  fsfe.org/look/elements/card-grid.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260619-01-01-b147013602eb85bc (#5909)
  fsfe.org/events/2026/event-20260619-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update debian Docker tag to trixie-20260610 (#5926)
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

Removing top banner (#5927)
  global/xslt/internal/fsfe_body.xsl
Due: format-xsl, simple-syntax

updating EU tech press release quote
  fsfe.org/news/2026/news-20260603-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add content for different sections
  fsfe.org/activities/ada-zangemann/about.en.xhtml
  fsfe.org/activities/ada-zangemann/book-reviews.en.xhtml
  fsfe.org/activities/ada-zangemann/events-readings.en.xhtml
  fsfe.org/activities/ada-zangemann/index.en.xhtml
  fsfe.org/activities/ada-zangemann/involved.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.da.xhtml
  fsfe.org/activities/ada-zangemann/movie.de.xhtml
  fsfe.org/activities/ada-zangemann/movie.en.xhtml
  fsfe.org/activities/ada-zangemann/movie.es.xhtml
  fsfe.org/activities/ada-zangemann/movie.fr.xhtml
  fsfe.org/activities/ada-zangemann/movie.he.xhtml
  fsfe.org/activities/ada-zangemann/movie.it.xhtml
  fsfe.org/activities/ada-zangemann/resources.en.xhtml
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnail-about.png
  fsfe.org/activities/ada-zangemann/thumbnails/ada-thumbnails-events-readings.png
  fsfe.org/look/elements/card-grid.less
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updating EU tech press release quote (#5928)
  fsfe.org/news/2026/news-20260603-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
