Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

YH4F add sponsor logo, increase space between logos (#5639)
  fsfe.org/activities/yh4f/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added Berlin event
  fsfe.org/events/2026/event-20260214-01.de.xml
  fsfe.org/events/2026/event-20260214-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added Berlin event (fix typo)
  fsfe.org/events/2026/event-20260214-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added Berlin event (fix EN title)
  fsfe.org/events/2026/event-20260214-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding Diego
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding avatar for Diego
  fsfe.org/about/people/avatars/naranjo.jpg
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260214-01-01-6b54af2649f5f3c9 (#5637)
  fsfe.org/events/2026/event-20260214-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

set time to UTC
  fsfe.org/events/2026/event-20260213-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260213-01-01-5073b5ba78d399d1 (#5638)
  fsfe.org/events/2026/event-20260213-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding fosdem26 news item (#5640)
  fsfe.org/news/2026/news-20260122-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

News 2026-01-22 add toot (#5641)
  fsfe.org/news/2026/news-20260122-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fsfe.org/about/people: Change PGP pubkey links (#5598)
  fsfe.org/about/people/agger@fsfe.org.gpg
  fsfe.org/about/people/people.en.xml
  fsfe.org/about/people/repentinus/repentinus@fsfe.org.asc
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260214-01.ca.xml
  fsfe.org/events/2026/event-20260214-01.ca.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: switch images to alpine
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

feat: use cli based minify if available this is objectively worse in every way required to allow use of minify on alpine, as its pip dists are broken on musl
  build.Dockerfile
  build/fsfe_website_build/phase2/copy_files.py
  pre-commit.Dockerfile
Due: ruff-check, ruff-format, reuse, pytest, pyright

update FSF network page (#5643)
  fsfe.org/about/fsfnetwork.en.xhtml
  fsfe.org/about/fsfnetwork.es.xhtml
  fsfe.org/about/fsfnetwork.fr.xhtml
  fsfe.org/about/fsfnetwork.it.xhtml
  fsfe.org/about/fsfnetwork.nl.xhtml
  fsfe.org/about/fsfnetwork.uk.xhtml
  fsfe.org/news/2021/news-20210324-01.en.xhtml
  global/data/modules/fsfnetwork.en.xml
  global/data/modules/fsfnetwork.es.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/groups.en.xhtml (#5644)
  fsfe.org/about/groups.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2021/news-20210324-01.en.xhtml (#5645)
  fsfe.org/news/2021/news-20210324-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fixing typos in article
  fsfe.org/news/2021/news-20210324-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix/events-wiki (#5628)
  fsfe.org/events/events.de.xhtml
  fsfe.org/events/events.en.xhtml
  fsfe.org/events/events.es.xhtml
  fsfe.org/events/events.fr.xhtml
  fsfe.org/events/events.it.xhtml
  fsfe.org/events/events.nl.xhtml
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

merch: add new merch images
  fsfe.org/order/data/pictures/cool-kids-tshirt-1.webp
  fsfe.org/order/data/pictures/cool-kids-tshirt-2.webp
  fsfe.org/order/data/pictures/pmpc-tshirt-1.webp
  fsfe.org/order/data/pictures/pmpc-tshirt-2.webp
  fsfe.org/order/data/pictures/pmpc-tshirt-3.webp
  fsfe.org/order/data/pictures/retro-hoodie-1.webp
  fsfe.org/order/data/pictures/retro-hoodie-2.webp
  fsfe.org/order/data/pictures/retro-hoodie-3.webp
Due: none

Update fsfe.org/freesoftware/freesoftware.en.xhtml (#5646)
  fsfe.org/freesoftware/freesoftware.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: separate small and large images
  fsfe.org/order/data/pictures/hoodie-retro-1-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-1-small.webp
  fsfe.org/order/data/pictures/hoodie-retro-2-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-2-small.webp
  fsfe.org/order/data/pictures/hoodie-retro-3-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-3-small.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-1-large.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-1-small.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-2-large.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-2-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-1-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-1-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-2-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-2-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-3-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-3-small.webp
Due: none

merch: add 2 tshirts and 1 hoodie to the merch items
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

change testimonials on frontpage
  fsfe.org/about/people/data/testimonials/3300-arjona.en.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.es.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.it.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.nl.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.pt.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.sq.xml
  fsfe.org/about/people/data/testimonials/3600-busch.en.xml
  fsfe.org/about/people/data/testimonials/3600-busch.it.xml
  fsfe.org/about/people/data/testimonials/3600-busch.nl.xml
  fsfe.org/about/people/data/testimonials/3800-drost-fromm.en.xml
  fsfe.org/about/people/data/testimonials/3800-drost-fromm.it.xml
  fsfe.org/about/people/data/testimonials/3800-drost-fromm.nl.xml
  fsfe.org/about/people/data/testimonials/3800-drost-fromm.sq.xml
  fsfe.org/about/people/data/testimonials/4100-sjoberg.en.xml
  fsfe.org/about/people/data/testimonials/4100-sjoberg.es.xml
  fsfe.org/about/people/data/testimonials/4100-sjoberg.it.xml
  fsfe.org/about/people/data/testimonials/4100-sjoberg.nl.xml
  fsfe.org/about/people/data/testimonials/4100-sjoberg.sq.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.en.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.es.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.it.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.nl.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.pt.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.ru.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.sq.xml
  fsfe.org/about/people/data/testimonials/6500-gkotsopoulou.en.xml
  fsfe.org/about/people/data/testimonials/6500-gkotsopoulou.it.xml
  fsfe.org/about/people/data/testimonials/6500-gkotsopoulou.nl.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: add xml info texts
  fsfe.org/order/data/info/hoodie-retro.en.xml
  fsfe.org/order/data/info/tshirt-cool-kids.en.xml
  fsfe.org/order/data/info/tshirt-pmpc.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: show hoodies on all websites again
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: small fixes
  fsfe.org/order/data/info/hoodie-retro.en.xml
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: shorten info texts
  fsfe.org/order/data/info/hoodie-retro.en.xml
  fsfe.org/order/data/info/tshirt-pmpc.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: item description: remove size chart note
  fsfe.org/order/data/info/hoodie-retro.en.xml
  fsfe.org/order/data/info/tshirt-cool-kids.en.xml
  fsfe.org/order/data/info/tshirt-pmpc.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: args.sites type (#5650)
  build/fsfe_website_build/build.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: restore body ltr allowed
  fsfe.org/news/newsletter.en.xhtml
  fsfe.org/news/podcast.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: use new xsl for podcasts and archive
  fsfe.org/news/archive-template.en.xhtml
  fsfe.org/news/podcast.en.xhtml
  fsfe.org/news/podcast.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: use same overview pages on newsletter as on podcasts see https://git.fsfe.org/FSFE/fsfe-website/issues/5623 removes custom newsletter xsl fix differences between files
  fsfe.org/news/default.xsl
  fsfe.org/news/newsletter.de.xhtml
  fsfe.org/news/newsletter.en.xhtml
  fsfe.org/news/newsletter.es.xhtml
  fsfe.org/news/newsletter.fr.xhtml
  fsfe.org/news/newsletter.it.xhtml
  fsfe.org/news/newsletter.nl.xhtml
  fsfe.org/news/newsletter.xsl
  global/data/texts/texts.en.xml
  global/data/texts/texts.nl.xml
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: convert version check
  tools/ci-checks/checks/check_versions.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: allow for more elegant addition of python checks for arbitrary file types convert xml structure check to new style
  lefthook.yaml
  tools/ci-checks/checks/__init__.py
  tools/ci-checks/checks/check_xml_structure.py
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, prettier, reuse, pytest, pyright

feat: port encoding check
  tools/ci-checks/checks/check_encoding.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
