Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

lefthook.yaml:

output:
  - meta # Print lefthook version
  - summary # Print summary block (successful and failed steps)
  - empty_summary # Print summary heading when there are no steps to run
  - success # Print successful steps
  - failure # Print failed steps printing
  - skips # Print "skip" (i.e. no files matched)

pre-commit:
  commands:
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    php-cs-fixer:
      glob: "*.php"
      exclude:
        - "fsfe.org/cgi-bin/PHPMailer/*.php"
      run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
      stage_fixed: true
    pytest:
      glob:
        - "*.py"
        - "build/xslt/*.xsl"
      run: pytest
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    custom-check:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax-check:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}

ilovefs add mastodon link (#5467)
  fsfe.org/news/2025/news-20251106-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20261107-01.en.xhtml (#5468)
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5469)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5470)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5471)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5472)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5473)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5474)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add mastodon verification
  fsfe.org/about/people/kirschner/kirschner.de.xhtml
  fsfe.org/about/people/kirschner/kirschner.el.xhtml
  fsfe.org/about/people/kirschner/kirschner.en.xhtml
  fsfe.org/about/people/kirschner/kirschner.it.xhtml
  fsfe.org/about/people/kirschner/kirschner.nl.xhtml
  fsfe.org/about/people/kirschner/kirschner.ru.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update global/xslt/internal/fsfe_body.xsl (#5477)
  global/xslt/internal/fsfe_body.xsl
Due: format-xsl, simple-syntax-check

ADD-event-20251113-01-01-7b55d1ee35462622 (#5478)
  fsfe.org/events/2025/event-20251113-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Drone: upgrade docker version, sign, add nix shell for signing (#5482)
  .drone.yml
  .gitignore
  drone-shell.nix
Due: prettier

ADD-event-20251115-01-01-57ee42ec6ef3e38e (#5476)
  fsfe.org/events/2025/event-20251115-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

components licenses (#5481)
  LICENSES/AGPL-3.0-or-later.txt
  LICENSES/CC-BY-SA-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/MIT.txt
Due: none

Update dependency jquery to 1.3 - 1.12
  fsfe.org/scripts/thirdparty/data-tables/package.json
Due: prettier

Update fsfe.org/activities/apple-litigation/apple-litigation.it.xhtml (#5486)
  fsfe.org/activities/apple-litigation/apple-litigation.it.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update docker Docker tag to v29
  .drone.yml
Due: prettier

added Berlin group event
  fsfe.org/events/2025/event-20251113-02.de.xml
  fsfe.org/events/2025/event-20251113-02.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251115-02-01-e541ebd0513bfa79 (#5489)
  fsfe.org/events/2025/event-20251115-02.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Add 2024 funds
  fsfe.org/about/funds/2024.en.xhtml
  fsfe.org/about/funds/2024.sources
  fsfe.org/about/funds/funds.de.xhtml
  fsfe.org/about/funds/funds.el.xhtml
  fsfe.org/about/funds/funds.en.xhtml
  fsfe.org/about/funds/funds.es.xhtml
  fsfe.org/about/funds/funds.fr.xhtml
  fsfe.org/about/funds/funds.it.xhtml
  fsfe.org/about/funds/funds.nl.xhtml
  fsfe.org/about/funds/funds.ru.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Adding newsletter (#5490)
  fsfe.org/news/2025/nl-202511.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-20251113-newsletter (#5491)
  fsfe.org/news/2025/news-20251106-01.en.xhtml
  fsfe.org/news/nl/nl-202511.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-20251113-newsletter (#5492)
  fsfe.org/news/nl/nl-202511.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

news-20251113-nl (#5493)
  fsfe.org/news/2025/news-20261107-01.en.xhtml
  fsfe.org/news/nl/nl-202511.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix/caching (#5494)
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/checks.py
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build_tests/caching_test.py
  fsfe.org/search/subdir-prio.txt
  fsfe.org/search/subdir.py
  fsfe.org/tags/subdir.py
  pre-commit.Dockerfile
  pyproject.toml
  status.fsfe.org/filler/early_subdir.py
  status.fsfe.org/style_attributes/subdir.py
  status.fsfe.org/translations/subdir.py
  status.fsfe.org/xml_structure/subdir.py
  uv.lock
Due: ruff-check, ruff-format, pyright, pytest, taplo

rename file
  fsfe.org/events/2025/event-20251114-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

added IT version from #5495
  fsfe.org/events/2025/event-20251114-01.it.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix paragraphs
  fsfe.org/events/2025/event-20251114-01.it.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

chore: run precommit empty par remove
  fsfe.org/news/podcast/2025/episode-36.en.xhtml
  fsfe.org/news/podcast/2025/episode-37.en.xhtml
  fsfe.org/news/podcast/2025/episode-38.en.xhtml
  fsfe.org/news/podcast/2025/episode-39.en.xhtml
  fsfe.org/news/podcast/2025/episode-40.en.xhtml
  status.fsfe.org/style_attributes/index.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat; move episdode 40, updating transcripts and adding rewrite rule
  fsfe.org/.htaccess
  fsfe.org/news/podcast/2025/episode-40.en.xhtml
  fsfe.org/news/podcast/transcript/2025/episode-40.en.vtt
  fsfe.org/news/podcast/transcript/2025/episode-40.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

newsletter-20251114-IT (#5497)
  fsfe.org/news/nl/nl-202511.it.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: whitelist some more xml attributes
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

feat: allow use of xpaths for ignoring elements
  build/fsfe_website_build/lib/checks.py
  build/fsfe_website_build_tests/lib/checks_test.py
  status.fsfe.org/xml_structure/subdir.py
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

SFP041: release notes (#5499)
  fsfe.org/news/podcast/episode-39.en.xhtml
  fsfe.org/news/podcast/episode-40.en.xhtml
  fsfe.org/news/podcast/episode-41.en.xhtml
  fsfe.org/news/podcast/transcript/episode-41.en.vtt
  fsfe.org/news/podcast/transcript/episode-41.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

podcast-20251114 (#5502)
  fsfe.org/news/podcast/episode-41.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check
