Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

lefthook.yaml:

output:
  - meta # Print lefthook version
  - summary # Print summary block (successful and failed steps)
  - empty_summary # Print summary heading when there are no steps to run
  - success # Print successful steps
  - failure # Print failed steps printing
  - skips # Print "skip" (i.e. no files matched)

pre-commit:
  commands:
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    php-cs-fixer:
      glob: "*.php"
      exclude:
        - "fsfe.org/cgi-bin/PHPMailer/*.php"
      run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
      stage_fixed: true
    pytest:
      glob:
        - "*.py"
        - "build/xslt/*.xsl"
      run: pytest
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    custom-check:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax-check:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: refactor timeline to HTML format
  fsfe.org/about/timeline.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
  fsfe.org/press/press.de.xhtml
  fsfe.org/press/press.en.xhtml
  fsfe.org/press/press.es.xhtml
  fsfe.org/press/press.fr.xhtml
  fsfe.org/press/press.it.xhtml
  fsfe.org/press/press.nl.xhtml
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

fix: remove old timeline files that returned in a rebase at some point
  fsfe.org/about/README.timeline.md
  fsfe.org/about/timeline.en.xhtml
  fsfe.org/about/timeline.it.png
  fsfe.org/about/timeline.it.svg
  fsfe.org/about/timeline.it.xhtml
  fsfe.org/about/timeline.nl.png
  fsfe.org/about/timeline.nl.svg
  fsfe.org/about/timeline.nl.xhtml
  fsfe.org/about/timeline.png
  fsfe.org/about/timeline.svg
Due: prettier, custom-check, non-en-frontpage-news, simple-syntax-check

chore: run pre-commit hooks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax-check

ilovefs poland interview: small fixes
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

refactor: use cropped poster as front image
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

remove double whitespaces
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

WIP: feat: add FSFE poland interview The interview needs to be accepted by Damian, otherwise changes are applied.
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ilovefs: Prepare interview ready for publication
  fsfe.org/news/2025/news-20251103-01.en.xhtml
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

integrate grammar corrections
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

translate and stress event names
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

small unifying changes
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

translate events everywhere
  fsfe.org/news/2025/news-DATE.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

implemented @dfajfer 's feedback
  fsfe.org/news/2025/news-20251103-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

SFP040 (#5423)
  fsfe.org/news/podcast/episode-40.en.xhtml
  fsfe.org/news/podcast/transcript/episode-40.en.vtt
  fsfe.org/news/podcast/transcript/episode-40.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add image
  fsfe.org/activities/android/Andriod-Boot-Process.jpg
Due: none

adding toot link (#5427)
  fsfe.org/news/podcast/episode-40.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251105-01-01-08e028ae552f058f (#5425)
  fsfe.org/events/2025/event-20251105-01.en.xml
  fsfe.org/events/2025/event-20251105-01.it.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

encoding problems
  fsfe.org/cgi-bin/weborder.pl
Due: none

more encoding
  fsfe.org/cgi-bin/weborder.pl
Due: none

set form encoding
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

set encoding for the input
  fsfe.org/cgi-bin/weborder.pl
Due: none

also encode STDOUT
  fsfe.org/cgi-bin/weborder.pl
Due: none

adding yh4f press release (#5428)
  fsfe.org/news/2025/news-20251025-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251025-01.en.xhtml (#5429)
  fsfe.org/news/2025/news-20251025-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

-fixing picture and quote (#5430)
  fsfe.org/news/2025/news-20251025-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: pre-commit hook to validate xml|xhtml structures versions are the same (#5432)
  lefthook.yaml
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest, prettier

more encoding
  fsfe.org/cgi-bin/order-payonline.pl
Due: none

feat/overview (#5435)
  build/fsfe_website_build/lib/checks.py
  status.fsfe.org/index.en.xhtml
  status.fsfe.org/xml_structure/__init__.py
  status.fsfe.org/xml_structure/default.xsl
  status.fsfe.org/xml_structure/index.en.xhtml
  status.fsfe.org/xml_structure/index.sources
  status.fsfe.org/xml_structure/subdir.py
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

fixing small typo (#5434)
  fsfe.org/news/2025/news-20251025-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

refactor/lefthook (#5436)
  lefthook.yaml
Due: prettier

fix: remove outdated pyproject.toml comment (#5439)
  pyproject.toml
Due: taplo

feat: overview page for style attribute (#5437)
  status.fsfe.org/index.en.xhtml
  status.fsfe.org/style_attributes/__init__.py
  status.fsfe.org/style_attributes/default.xsl
  status.fsfe.org/style_attributes/index.en.xhtml
  status.fsfe.org/style_attributes/index.sources
  status.fsfe.org/style_attributes/subdir.py
Due: ruff-check, ruff-format, pyright, pytest, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: reuse compliance for python files (#5440)
  LICENSES/GPL-3.0-or-later.txt
  build/fsfe_website_build_tests/lib/misc_test.py
  build/fsfe_website_build_tests/lib/process_file_test.py
  lefthook.yaml
  pyproject.toml
  tools/ci-checks/compare-xml-structure.py
  uv.lock
Due: ruff-check, ruff-format, pyright, pytest, prettier, taplo

adding news item (#5441)
  fsfe.org/news/2025/news-20251029-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check
