Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

compare-xml-structure.py: decrease indent level for return
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

compare-xml-structure.py: unify comment indent to 2 spaces
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

compare-xml-structure.py: do not use file as variable name
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

partially fix tag `european=union`
  fsfe.org/news/nl/nl-202407.en.xhtml
  fsfe.org/news/nl/nl-202408.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fsfe.org/news/nl/nl-202408.en.xhtml: fix cleartext email address
  fsfe.org/news/nl/nl-202408.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fsfe.org/news/nl/nl-202407.en.xhtml: fix cleartext email address
  fsfe.org/news/nl/nl-202407.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fsfe.org/news/nl/nl-202407.en.xhtml: fix attribute value diff
  fsfe.org/news/nl/nl-202407.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fsfe.org/news/nl/nl-202407.en.xhtml: fix bestellen translation
  fsfe.org/news/nl/nl-202407.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Fix tags for working CI (#5581)
  fsfe.org/news/2023/news-20230515-01.nl.xhtml
  fsfe.org/news/2023/news-20230515-02.nl.xhtml
  fsfe.org/news/2025/news-20251105-01.en.xhtml
  fsfe.org/news/podcast/2025/episode-32.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Version fix. (#5582)
  fsfe.org/activities/ada-zangemann/book-reviews.he.xhtml
  fsfe.org/activities/ada-zangemann/drawings.he.xhtml
  fsfe.org/activities/ada-zangemann/index.he.xhtml
  fsfe.org/activities/ada-zangemann/movie.he.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Translation of the baseline to Hebrew (#5583)
  global/data/texts/texts.he.xml
  global/data/topbanner/topbanner.he.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

chore(deps): update docker docker tag to v29
  .drone.yml
Due: prettier

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: update timeline styling
  fsfe.org/look/base.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/thirdparty/bootstrap/variables.less
Due: prettier

feat: rename categories
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: rewrite rule for timeline
  fsfe.org/.htaccess
Due: none

timeline: translate homepage to DE
  fsfe.org/about/timeline/index.de.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

chore: run prettier
  fsfe.org/look/main.less
Due: prettier

feat: inline icons
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax-check

fix: remove old timeline files that returned in a rebase at some point
  fsfe.org/about/README.timeline.md
  fsfe.org/about/timeline.en.xhtml
  fsfe.org/about/timeline.it.png
  fsfe.org/about/timeline.it.svg
  fsfe.org/about/timeline.it.xhtml
  fsfe.org/about/timeline.nl.png
  fsfe.org/about/timeline.nl.svg
  fsfe.org/about/timeline.nl.xhtml
  fsfe.org/about/timeline.png
  fsfe.org/about/timeline.svg
Due: prettier, custom-check, non-en-frontpage-news, simple-syntax-check

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: add noto symbols fonts
  fsfe.org/fonts/NotoSansSymbols-Regular.ttf
  fsfe.org/fonts/NotoSansSymbols2-Regular.ttf
  fsfe.org/look/fonts.less
  fsfe.org/look/main.less
Due: prettier

feat: update translations
  fsfe.org/about/timeline/index.de.xhtml
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

refactor: use typed dict for search, makes things clearer (#5584)
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

adding news item for next week
  fsfe.org/news/2025/news-20251229-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update the status
  status.fsfe.org/status.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix/php-cs-fixer (#5538)
  .php-cs-fixer.dist.php
  fsfe.org/cgi-bin/mail-signup.php
  fsfe.org/cgi-bin/perdiem.php
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/cgi-bin/registerevent.php
  fsfe.org/cgi-bin/reimbursement.php
  fsfe.org/cgi-bin/share-config.php
  fsfe.org/cgi-bin/share.php
  fsfe.org/templates/promoorder/promoorder.php
  fsfe.org/templates/registerevent/event.php
  fsfe.org/templates/registerevent/mail.php
  fsfe.org/templates/registerevent/mailstaff.php
  fsfe.org/templates/registerevent/wiki.php
  lefthook.yaml
Due: php-cs-fixer, prettier

SFP043 release notes (#5586)
  fsfe.org/news/podcast/2025/episode-43.en.xhtml
  fsfe.org/news/podcast/transcript/2025/episode-43.en.vtt
  fsfe.org/news/podcast/transcript/2025/episode-43.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding toot (#5587)
  fsfe.org/news/podcast/2025/episode-43.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fixing & -> &amp; in #5576
  fsfe.org/activities/ada-zangemann/data/reviews/1220-sussman.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1295-zacchiroli.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/4600-Jones.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat/file-extensions (#5528)
  build/fsfe_website_build/phase2/copy_files.py
  fsfe.org/about/graphics/sponsoring/source/README.md
  fsfe.org/about/people/roy/roy-avatar.jpg.old
  fsfe.org/activities/mankind/worldmemory-plan.md
  fsfe.org/cgi-bin/odtfill.sh
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/cgi-bin/weborder.pl
  fsfe.org/contribute/promoitems/README
  fsfe.org/contribute/promoitems/README.md
  fsfe.org/donate/donors/README.md
  fsfe.org/events/2012/event-20120525-01.en.xml.disabled
  fsfe.org/events/2016/summit/pictures/Summit_Pictures
  fsfe.org/events/2016/summit/pictures/Summit_Pictures.md
  fsfe.org/news/podcast/transcript/2025/episode-30.en.timestamp
  fsfe.org/required_deploy_files.txt
  fsfe.org/templates/README.md
  pdfreaders.org/readers/ghostscript.disabled
  pdfreaders.org/readers/kpdf.en.disabled
Due: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier

refactor/search (#5588)
  fsfe.org/.gitignore
  fsfe.org/search/search.en.xhtml
  fsfe.org/search/search.js
  fsfe.org/search/search.nl.xhtml
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, pyright, pytest, prettier, custom-check, non-en-frontpage-news, simple-syntax-check

refactor/tombi (#5591)
  fsfe.org/dependencies.toml
  lefthook.yaml
  pyproject.toml
  uv.lock
Due: prettier, taplo

events-20251227-congress (#5593)
  fsfe.org/events/2025/event-20251227-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: switch images to alpine
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

fix: more efficient minification fallback
  build/fsfe_website_build/phase2/copy_files.py
Due: ruff-check, ruff-format, pyright, pytest

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
