Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

SFSCON add mastodon
  fsfe.org/news/2025/news-20251029-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fixing links
  fsfe.org/news/2025/news-20251029-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add end date of GA member/coord FR translation in cryptie bio for jury.en.xhtml (#5445)
  fsfe.org/activities/yh4f/jury.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fixing image (#5446)
  fsfe.org/news/2025/news-20251029-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251029-01.en.xhtml
  fsfe.org/news/2025/news-20251029-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat; move episdode 40, updating transcripts and adding rewrite rule
  fsfe.org/.htaccess
  fsfe.org/news/podcast/2025/episode-40.en.xhtml
  fsfe.org/news/podcast/transcript/2025/episode-40.en.vtt
  fsfe.org/news/podcast/transcript/2025/episode-40.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

chore: run precommit empty par remove
  fsfe.org/news/podcast/2025/episode-36.en.xhtml
  fsfe.org/news/podcast/2025/episode-37.en.xhtml
  fsfe.org/news/podcast/2025/episode-38.en.xhtml
  fsfe.org/news/podcast/2025/episode-39.en.xhtml
  fsfe.org/news/podcast/2025/episode-40.en.xhtml
  status.fsfe.org/style_attributes/index.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/contribute/spreadtheword.en.xhtml
  fsfe.org/contribute/spreadtheword.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/contribute/spreadtheword.en.xhtml (#5447)
  fsfe.org/contribute/spreadtheword.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: units tests for checks lib (#5443)
  build/fsfe_website_build_tests/lib/checks_test.py
Due: ruff-check, ruff-format, pyright, pytest

updating highlights tag (#5449)
  fsfe.org/news/podcast/episode-40.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: typehint dicts better (#5450)
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase2/process_files.py
  fsfe.org/tags/subdir.py
  status.fsfe.org/translations/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

feat: enable pyright strict mode
  pyproject.toml
Due: taplo

feat: add stubs to indicate a folder is typed
  build/fsfe_website_build/py.typed
  fsfe.org/events/py.typed
  fsfe.org/internal/py.typed
  fsfe.org/news/py.typed
  fsfe.org/search/py.typed
  fsfe.org/tags/py.typed
  status.fsfe.org/filler/py.typed
  status.fsfe.org/style_attributes/py.typed
  status.fsfe.org/translations/py.typed
  status.fsfe.org/xml_structure/py.typed
Due: none

wip: feat: make pyright strict compliant
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/update_css.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase3/serve_websites.py
  build/fsfe_website_build_tests/lib/process_file_test.py
  fsfe.org/search/subdir.py
  fsfe.org/tags/subdir.py
  status.fsfe.org/translations/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

removing links from sponsors (#5453)
  fsfe.org/news/2024/news-20241027-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat/strict-pyright (#5451)
  build/fsfe_website_build/lib/misc.py
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/update_css.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase3/serve_websites.py
  build/fsfe_website_build/py.typed
  build/fsfe_website_build_tests/lib/process_file_test.py
  fsfe.org/events/py.typed
  fsfe.org/internal/py.typed
  fsfe.org/news/py.typed
  fsfe.org/search/py.typed
  fsfe.org/search/subdir.py
  fsfe.org/tags/py.typed
  fsfe.org/tags/subdir.py
  pyproject.toml
  status.fsfe.org/filler/py.typed
  status.fsfe.org/style_attributes/py.typed
  status.fsfe.org/translations/py.typed
  status.fsfe.org/translations/subdir.py
  status.fsfe.org/xml_structure/py.typed
Due: ruff-check, ruff-format, pyright, pytest, taplo

honour activities enddate (#5454)
  fsfe.org/internal/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

sort activities
  fsfe.org/internal/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

adding legal corner article (#5455)
  fsfe.org/news/2025/news-20251105-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding pr to be sent to journo
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding pr to be sent to journo (#5456)
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding default picture
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fsfe.org/news/2025/news-20261107-01.en.xhtml gelöscht
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251105-01.en.xhtml (#5458)
  fsfe.org/news/2025/news-20251105-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

preview-20251105-pr (#5457)
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20261107-01.en.xhtml (#5459)
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20221107-01.en.xhtml (#5460)
  fsfe.org/news/2025/news-20221107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251105-01.en.xhtml (#5461)
  fsfe.org/news/2025/news-20251105-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5462)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5463)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251107-01.en.xhtml (#5465)
  fsfe.org/news/2025/news-20251107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20261107-01.en.xhtml (#5466)
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ilovefs add FSFE poland interview (#5407)
  fsfe.org/news/2025/news-20251106-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
