Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

YH4F jury picutre preview (#6157)
  fsfe.org/activities/yh4f/index.en.xhtml
  fsfe.org/activities/yh4f/jury.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20261113-06-01-323cb3aae6ef2bdf (#6156)
  fsfe.org/events/2026/event-20261113-06.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix typos in events (#6161)
  fsfe.org/events/2026/event-20261113-01.en.xml
  fsfe.org/events/2026/event-20261113-02.en.xml
  fsfe.org/events/2026/event-20261113-03.en.xml
  fsfe.org/events/2026/event-20261113-04.en.xml
  fsfe.org/events/2026/event-20261113-05.en.xml
  fsfe.org/events/2026/event-20261113-06.en.xml
  fsfe.org/events/2026/event-20261114-01.en.xml
  fsfe.org/events/2026/event-20261114-02.en.xml
  fsfe.org/events/2026/event-20261114-03.en.xml
  fsfe.org/events/2026/event-20261114-04.en.xml
  fsfe.org/events/2026/event-20261114-05.en.xml
  fsfe.org/events/2026/event-20261114-06.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

YH4F: Jury update preview picture
  fsfe.org/activities/yh4f/index.en.xhtml
  fsfe.org/activities/yh4f/jury.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update page version
  fsfe.org/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

YH4F: Jury update preview picture (#6162)
  fsfe.org/activities/yh4f/index.en.xhtml
  fsfe.org/activities/yh4f/jury.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix typo introduced on last push (#6163)
  fsfe.org/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding yearly report (#6146)
  fsfe.org/news/2026/news-20260928-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20261001-01.en.xhtml
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20261114-07-01-98c8deb311805601 (#6158)
  fsfe.org/events/2026/event-20261114-07.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20261114-07-01-0be5cc1ddd57d6a4 (#6159)
  fsfe.org/events/2026/event-20261114-08.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix typo in sidebar (#6164)
  fsfe.org/activities/yh4f/jury.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20261001-01.en.xhtml (#6165)
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20261114-07-01-13eaa485a3bdeb86 (#6160)
  fsfe.org/events/2026/event-20261114-09.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix xhtml syntax
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add toot to yearly report (#6167)
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

format changes (#6169)
  fsfe.org/look/base.less
Due: prettier

Update booth form 2 (#6170)
  fsfe.org/cgi-bin/registerbooth.php
Due: php-cs-fixer

Update fsfe.org/cgi-bin/registerbooth.php (#6171)
  fsfe.org/cgi-bin/registerbooth.php
Due: php-cs-fixer

Refactor/style activity frames (#6168)
  fsfe.org/about/mission.en.xhtml
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.es.xhtml
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
  fsfe.org/look/variables.less
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/cgi-bin/registerbooth.php (#6172)
  fsfe.org/cgi-bin/registerbooth.php
Due: php-cs-fixer

unify style in different languages
  fsfe.org/about/mission.de.xhtml
  fsfe.org/about/mission.es.xhtml
  fsfe.org/about/mission.fr.xhtml
  fsfe.org/about/mission.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update version numbers
  fsfe.org/about/mission.en.xhtml
  fsfe.org/about/mission.fr.xhtml
  fsfe.org/about/mission.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix typo
  fsfe.org/about/mission.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Feat/update booth form (#6173)
  fsfe.org/cgi-bin/registerbooth.php
  fsfe.org/events/tools/boothregistration.en.xhtml
  fsfe.org/index.en.xhtml
  fsfe.org/look/base.less
Due: php-cs-fixer, prettier, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/mission.fr.xhtml
  fsfe.org/about/mission.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/mission.es.xhtml
  fsfe.org/about/mission.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

some corrections about the sponsors (#6175)
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/mission.it.xhtml
  fsfe.org/about/mission.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

add structure
  fsfe.org/activities/ilovefs/about.en.xhtml
  fsfe.org/activities/ilovefs/events (Copy).xhtml
  fsfe.org/activities/ilovefs/events.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/resources.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added missing </p>
  fsfe.org/news/2026/news-20261001-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/timeline/index.es.xhtml (#6176)
  fsfe.org/about/timeline/index.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Feat/YH4F-accesibility (#6177)
  fsfe.org/activities/yh4f/index.en.xhtml
  fsfe.org/activities/yh4f/past-editions.en.xhtml
  fsfe.org/activities/yh4f/sponsorship.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Changed php and page
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/contribute/spreadtheword.en.xhtml
Due: php-cs-fixer, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
