Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

lefthook.yaml:

output:
  - meta # Print lefthook version
  - summary # Print summary block (successful and failed steps)
  - empty_summary # Print summary heading when there are no steps to run
  - success # Print successful steps
  - failure # Print failed steps printing
  - skips # Print "skip" (i.e. no files matched)

pre-commit:
  commands:
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    php-cs-fixer:
      glob: "*.php"
      exclude:
        - "fsfe.org/cgi-bin/PHPMailer/*.php"
      run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
      stage_fixed: true
    pytest:
      glob:
        - "*.py"
        - "build/xslt/*.xsl"
      run: pytest
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    custom-check:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax-check:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}

remove ampersand to please the XML gods
  fsfe.org/order/data/info/ada-zangemann-tattoos.de.xml
  fsfe.org/order/data/info/ada-zangemann-tattoos.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

change order of balloon to 2
  fsfe.org/contribute/promoitems/active-items.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix items
  fsfe.org/contribute/promoitems/active-items.en.xml
  fsfe.org/contribute/promoitems/info-fsfe-blue-balloon.en.xml
  fsfe.org/order/data/info/ada-zangemann-tattoos.de.xml
  fsfe.org/order/data/info/ada-zangemann-tattoos.en.xml
  fsfe.org/order/data/info/fsfe-tattoos.de.xml
  fsfe.org/order/data/info/fsfe-tattoos.en.xml
  fsfe.org/order/data/items.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

change balloon, remove redundant images
  fsfe.org/contribute/promopics/balloon-blue-fsfe-back.jpg
  fsfe.org/contribute/promopics/baloon-blue-fsfe-logo.jpg
  fsfe.org/contribute/promopics/fsfe-blue-balloon.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-1.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-2.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-1.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-2.jpg
Due: none

replace merchandise pics with horizontal ones
  fsfe.org/order/data/pictures/ada-zangemann-tattoos.jpg
  fsfe.org/order/data/pictures/fsfe-tattoos.jpg
Due: none

feat: add infomaterial and merch items (#5383)
  fsfe.org/contribute/promoitems/active-items.en.xml
  fsfe.org/contribute/promoitems/info-fsfe-blue-balloon.en.xml
  fsfe.org/contribute/promopics/balloon-blue-fsfe-back.jpg
  fsfe.org/contribute/promopics/baloon-blue-fsfe-logo.jpg
  fsfe.org/contribute/promopics/fsfe-blue-balloon.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-1.jpg
  fsfe.org/contribute/promopics/tattoos-ada-zangemann-2.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-1.jpg
  fsfe.org/contribute/promopics/tattoos-fsfe-2.jpg
  fsfe.org/order/data/info/ada-zangemann-tattoos.de.xml
  fsfe.org/order/data/info/ada-zangemann-tattoos.en.xml
  fsfe.org/order/data/info/fsfe-tattoos.de.xml
  fsfe.org/order/data/info/fsfe-tattoos.en.xml
  fsfe.org/order/data/items.en.xml
  fsfe.org/order/data/pictures/ada-zangemann-tattoos.jpg
  fsfe.org/order/data/pictures/fsfe-tattoos.jpg
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251025-01.it.xml
  fsfe.org/events/2025/event-20251025-01.it.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

SFP#39: news item and publication (#5394)
  fsfe.org/news/podcast/episode-39.en.xhtml
  fsfe.org/news/podcast/transcript/episode-39.en.vtt
  fsfe.org/news/podcast/transcript/episode-39.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Berlin group events
  fsfe.org/events/2025/event-20251130-01.de.xml
  fsfe.org/events/2025/event-20251130-01.en.xml
  fsfe.org/events/2025/event-20251211-01.de.xml
  fsfe.org/events/2025/event-20251211-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding toot
  fsfe.org/news/podcast/episode-39.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

adding toot (#5396)
  fsfe.org/news/podcast/episode-39.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

feat: add source flag to use different folder as source for building sites
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase0/full.py
  build/fsfe_website_build/phase0/global_symlinks.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase1/update_stylesheets.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase2/run.py
  build/fsfe_website_build_tests/lib/process_file_test.py
  fsfe.org/events/subdir.py
  fsfe.org/internal/subdir.py
  fsfe.org/news/subdir.py
  fsfe.org/search/subdir.py
  fsfe.org/tags/subdir.py
  status.fsfe.org/filler/early_subdir.py
  status.fsfe.org/translations/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

refactor: iterate by processor rather than by dir
  build/fsfe_website_build/phase2/process_files.py
Due: ruff-check, ruff-format, pyright, pytest

refactor: process each xsl only once
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build_tests/lib/process_file_test.py
Due: ruff-check, ruff-format, pyright, pytest

refactor: inline unneeded function streamline processor choosing logic
  build/fsfe_website_build/phase2/process_files.py
Due: ruff-check, ruff-format, pyright, pytest

fix: keep logo to the left prevent the fsfe logo floating over the menu stuff when pages are in an rtl language eg arabic
  fsfe.org/look/base.less
Due: prettier

fix: keep logo to the left (#5399)
  fsfe.org/look/base.less
Due: prettier

chore: add Damian Fajfer to Core Team
  fsfe.org/about/people/avatars/dfajfer.png
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

chore: add Damian Fajfer to Core Team (#5401)
  fsfe.org/about/people/avatars/dfajfer.png
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

refactor: transform processor xsls only once (#5397)
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build_tests/lib/process_file_test.py
Due: ruff-check, ruff-format, pyright, pytest

refactor: remove bootstrap folder not used anywhere it is all minimised in bootstrap.min.js and bootstrap.custom.js
  fsfe.org/scripts/thirdparty/bootstrap/.jshintrc
  fsfe.org/scripts/thirdparty/bootstrap/CONTRIBUTING.md
  fsfe.org/scripts/thirdparty/bootstrap/DOCS-LICENSE
  fsfe.org/scripts/thirdparty/bootstrap/LICENSE
  fsfe.org/scripts/thirdparty/bootstrap/LICENSE-MIT
  fsfe.org/scripts/thirdparty/bootstrap/README.md
  fsfe.org/scripts/thirdparty/bootstrap/affix.js
  fsfe.org/scripts/thirdparty/bootstrap/alert.js
  fsfe.org/scripts/thirdparty/bootstrap/button.js
  fsfe.org/scripts/thirdparty/bootstrap/carousel.js
  fsfe.org/scripts/thirdparty/bootstrap/collapse.js
  fsfe.org/scripts/thirdparty/bootstrap/dropdown.js
  fsfe.org/scripts/thirdparty/bootstrap/html5shiv.370.js
  fsfe.org/scripts/thirdparty/bootstrap/modal.js
  fsfe.org/scripts/thirdparty/bootstrap/package.json
  fsfe.org/scripts/thirdparty/bootstrap/popover.js
  fsfe.org/scripts/thirdparty/bootstrap/respond.130.min.js
  fsfe.org/scripts/thirdparty/bootstrap/scrollspy.js
  fsfe.org/scripts/thirdparty/bootstrap/tab.js
  fsfe.org/scripts/thirdparty/bootstrap/tooltip.js
  fsfe.org/scripts/thirdparty/bootstrap/transition.js
Due: prettier

feat: refactor timeline to HTML format
  fsfe.org/about/timeline.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Styling changes, Alter xsl to enable styling remove fellowship mention some other minor tweaks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/main.less
  fsfe.org/press/press.de.xhtml
  fsfe.org/press/press.en.xhtml
  fsfe.org/press/press.es.xhtml
  fsfe.org/press/press.fr.xhtml
  fsfe.org/press/press.it.xhtml
  fsfe.org/press/press.nl.xhtml
Due: prettier, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

Redirect timeline links
  fsfe.org/activities/15years/15years.en.xhtml
  fsfe.org/activities/15years/15years.it.xhtml
  fsfe.org/activities/15years/15years.nl.xhtml
  fsfe.org/activities/15years/15years.sq.xhtml
  fsfe.org/news/2013/news-20131213-01.en.xhtml
  fsfe.org/news/2013/news-20131213-01.sq.xhtml
  fsfe.org/news/nl/nl-201312.de.xhtml
  fsfe.org/news/nl/nl-201312.el.xhtml
  fsfe.org/news/nl/nl-201312.en.xhtml
  fsfe.org/news/nl/nl-201312.fr.xhtml
  fsfe.org/news/nl/nl-201312.ro.xhtml
  fsfe.org/news/nl/nl-201312.sq.xhtml
  fsfe.org/news/nl/nl-201609.de.xhtml
  fsfe.org/news/nl/nl-201609.en.xhtml
  fsfe.org/news/nl/nl-201609.it.xhtml
  fsfe.org/news/nl/nl-201609.nl.xhtml
  fsfe.org/news/nl/nl-201609.sq.xhtml
  fsfe.org/press/press.de.xhtml
  fsfe.org/press/press.en.xhtml
  fsfe.org/press/press.es.xhtml
  fsfe.org/press/press.fr.xhtml
  fsfe.org/press/press.it.xhtml
  fsfe.org/press/press.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

chore: run pre-commit hooks
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax-check

refactor: remove bootstrap folder not used anywhere (#5398)
  fsfe.org/scripts/thirdparty/bootstrap/.jshintrc
  fsfe.org/scripts/thirdparty/bootstrap/CONTRIBUTING.md
  fsfe.org/scripts/thirdparty/bootstrap/DOCS-LICENSE
  fsfe.org/scripts/thirdparty/bootstrap/LICENSE
  fsfe.org/scripts/thirdparty/bootstrap/LICENSE-MIT
  fsfe.org/scripts/thirdparty/bootstrap/README.md
  fsfe.org/scripts/thirdparty/bootstrap/affix.js
  fsfe.org/scripts/thirdparty/bootstrap/alert.js
  fsfe.org/scripts/thirdparty/bootstrap/button.js
  fsfe.org/scripts/thirdparty/bootstrap/carousel.js
  fsfe.org/scripts/thirdparty/bootstrap/collapse.js
  fsfe.org/scripts/thirdparty/bootstrap/dropdown.js
  fsfe.org/scripts/thirdparty/bootstrap/html5shiv.370.js
  fsfe.org/scripts/thirdparty/bootstrap/modal.js
  fsfe.org/scripts/thirdparty/bootstrap/package.json
  fsfe.org/scripts/thirdparty/bootstrap/popover.js
  fsfe.org/scripts/thirdparty/bootstrap/respond.130.min.js
  fsfe.org/scripts/thirdparty/bootstrap/scrollspy.js
  fsfe.org/scripts/thirdparty/bootstrap/tab.js
  fsfe.org/scripts/thirdparty/bootstrap/tooltip.js
  fsfe.org/scripts/thirdparty/bootstrap/transition.js
Due: prettier

feat: add source flag to use different folder as source for building sites (#5334)
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/process_file.py
  build/fsfe_website_build/phase0/full.py
  build/fsfe_website_build/phase0/global_symlinks.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase1/update_stylesheets.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/process_files.py
  build/fsfe_website_build/phase2/run.py
  build/fsfe_website_build_tests/lib/process_file_test.py
  fsfe.org/events/subdir.py
  fsfe.org/internal/subdir.py
  fsfe.org/news/subdir.py
  fsfe.org/search/subdir.py
  fsfe.org/tags/subdir.py
  status.fsfe.org/filler/early_subdir.py
  status.fsfe.org/translations/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

Fix Nexi template name
  fsfe.org/cgi-bin/order-payonline.pl
Due: none

fix UTF8 characters in weborder
  fsfe.org/cgi-bin/weborder.pl
Due: none

fix UTF8 characters in weborder (#5402)
  fsfe.org/cgi-bin/weborder.pl
Due: none

fix UTF8 output
  fsfe.org/cgi-bin/order-payonline.pl
Due: none

more encoding
  fsfe.org/cgi-bin/weborder.pl
Due: none
