Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true

pyright:
  run: pyright {staged_files}

php-cs-fixer:
  run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
  stage_fixed: true

pytest:
  run: pytest

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

custom-check:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax-check:
  run: xmllint --noout {staged_files}

feat: fetch phpmailer using new get_dependencies
  build/fsfe_website_build/phase1/get_dependencies.py
  fsfe.org/.gitignore
  fsfe.org/cgi-bin/thirdparty/PHPMailer/Exception.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/PHPMailer.php
  fsfe.org/cgi-bin/thirdparty/PHPMailer/SMTP.php
  fsfe.org/dependencies.toml
  lefthook.yaml
Due: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, prettier, taplo

fix: broken clones sometimes
  build/fsfe_website_build/phase1/get_dependencies.py
Due: ruff-check, ruff-format, pyright, pytest

fix: bootstrap urls
  fsfe.org/about/js-licences.en.xhtml
  global/xslt/internal/body_scripts.xsl
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: replace use of datatables with simple no dep script
  fsfe.org/news/2012/news-20120920-01.el.xhtml
  fsfe.org/news/2012/news-20120920-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix: do not write a newline to an empty xmllist (#5514)
  build/fsfe_website_build/phase1/update_xmllists.py
Due: ruff-check, ruff-format, pyright, pytest

adding stack news item (#5515)
  fsfe.org/news/2025/news-20251124-01.de.xhtml
  fsfe.org/news/2025/news-20251124-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251124-01.en.xhtml (#5516)
  fsfe.org/news/2025/news-20251124-02.de.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update fsfe.org/news/2025/news-20251124-02.en.xhtml (#5517)
  fsfe.org/news/2025/news-20251124-02.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

mv files to correct name
  fsfe.org/news/2025/news-20251124-01.de.xhtml
  fsfe.org/news/2025/news-20251124-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251218-01-01-e75f7a410474ff03 (#5519)
  fsfe.org/events/2025/event-20251218-01.de.xml
  fsfe.org/events/2025/event-20251218-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

YH4F add redirect for video
  fsfe.org/.htaccess
Due: none

news-20251124-stack (#5521)
  fsfe.org/news/2025/news-20251124-01.de.xhtml
  fsfe.org/news/2025/news-20251124-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix/regex (#5522)
  lefthook.yaml
  tools/ci-checks/general.sh
Due: shfmt, prettier

fix: add item to whitelist (#5523)
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

Change reuse-tool URLs to Codeberg (#5488)
  fsfe.org/news/2020/news-20201215-01.en.xhtml
  fsfe.org/news/2020/news-20201215-01.it.xhtml
  fsfe.org/news/2020/news-20201215-01.nl.xhtml
  fsfe.org/news/nl/nl-202011.en.xhtml
  fsfe.org/news/nl/nl-202011.es.xhtml
  fsfe.org/news/nl/nl-202011.fr.xhtml
  fsfe.org/news/nl/nl-202011.it.xhtml
  fsfe.org/news/nl/nl-202011.nl.xhtml
  fsfe.org/news/nl/nl-202406.en.xhtml
  fsfe.org/news/nl/nl-202406.es.xhtml
  fsfe.org/news/nl/nl-202406.it.xhtml
  fsfe.org/news/nl/nl-202406.nl.xhtml
  fsfe.org/news/podcast/2020/episode-4.en.xhtml
  fsfe.org/news/podcast/2020/episode-4.it.xhtml
  fsfe.org/news/podcast/2020/episode-4.nl.xhtml
  fsfe.org/news/podcast/2020/episode-6.en.xhtml
  fsfe.org/news/podcast/2020/episode-6.it.xhtml
  fsfe.org/news/podcast/2020/episode-6.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2025/event-20251219-01.en.xml
  fsfe.org/events/2025/event-20251219-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add quote by Brewster
  fsfe.org/activities/ada-zangemann/data/reviews/1205-kahle.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

change testimonials on frontpage
  fsfe.org/about/people/data/testimonials/3300-arjona.en.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.es.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.it.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.nl.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.pt.xml
  fsfe.org/about/people/data/testimonials/3300-arjona.sq.xml
  fsfe.org/about/people/data/testimonials/3600-busch.en.xml
  fsfe.org/about/people/data/testimonials/3600-busch.it.xml
  fsfe.org/about/people/data/testimonials/3600-busch.nl.xml
  fsfe.org/about/people/data/testimonials/4300-weitzhofer.nl.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.en.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.es.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.it.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.nl.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.pt.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.ru.xml
  fsfe.org/about/people/data/testimonials/4400-nascimento.sq.xml
  fsfe.org/about/people/data/testimonials/4900-canik.en.xml
  fsfe.org/about/people/data/testimonials/4900-canik.es.xml
  fsfe.org/about/people/data/testimonials/4900-canik.it.xml
  fsfe.org/about/people/data/testimonials/4900-canik.nl.xml
  fsfe.org/about/people/data/testimonials/4900-canik.pt.xml
  fsfe.org/about/people/data/testimonials/4900-canik.ru.xml
  fsfe.org/about/people/data/testimonials/4900-canik.sq.xml
  fsfe.org/about/people/data/testimonials/5600-hubertz.en.xml
  fsfe.org/about/people/data/testimonials/5600-hubertz.it.xml
  fsfe.org/about/people/data/testimonials/5600-hubertz.nl.xml
  fsfe.org/about/people/data/testimonials/7000-laisa.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

updated status
  status.fsfe.org/index.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

ADD-event-20251204-01-01-ca2b1fb786e2d1a5 (#5530)
  fsfe.org/events/2025/event-20251204-01.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Add introductory text about differences between phones and PCs (#5529)
  fsfe.org/activities/android/android.en.xhtml
  fsfe.org/activities/android/locked_down.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

add fundraising banner (#5525)
  global/data/topbanner/topbanner.de.xml
  global/data/topbanner/topbanner.en.xml
  global/data/topbanner/topbanner.es.xml
  global/data/topbanner/topbanner.fr.xml
  global/data/topbanner/topbanner.it.xml
  global/data/topbanner/topbanner.nl.xml
  global/xslt/internal/fsfe_body.xsl
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

android: minor improvements (#5534)
  fsfe.org/activities/android/locked_down.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

chore: simplify the xmllists generation (#5535)
  build/fsfe_website_build/phase1/update_xmllists.py
Due: ruff-check, ruff-format, pyright, pytest

feat: better error handling in process_files (#5526)
  build/fsfe_website_build/phase2/process_files.py
Due: ruff-check, ruff-format, pyright, pytest

Add missing smaller logo variant for AWS
  fsfe.org/donate/donors/silver-aws.png
Due: none

Continue Niko's work in refactoring the timeline to html
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

feat: add noto symbols fonts
  fsfe.org/fonts/NotoSansSymbols-Regular.ttf
  fsfe.org/fonts/NotoSansSymbols2-Regular.ttf
  fsfe.org/look/fonts.less
  fsfe.org/look/main.less
Due: prettier

feat: rewrite rule for timeline
  fsfe.org/.htaccess
Due: none

chore: run prettier
  fsfe.org/look/main.less
Due: prettier

feat: update timeline styling
  fsfe.org/look/base.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/thirdparty/bootstrap/variables.less
Due: prettier

feat: inline icons
  fsfe.org/about/timeline/default.xsl
  fsfe.org/look/elements/timeline.less
Due: prettier, format-xsl, simple-syntax-check

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  php-cs-fixer: any of: *.php, but not: fsfe.org/cgi-bin/PHPMailer/*.php
  pytest: any of: *.py, build/xslt/*.xsl
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  taplo: any of: *.toml
  format-xsl: any of: *.xsl
  custom-check: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax-check: any of: *.xml, *.xhtml, *.xsl
