Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

fix typos (#5882)
  fsfe.org/order/order.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Updating / adding Italian translation (#5853)
  fsfe.org/about/funds/2002.it.xhtml
  fsfe.org/activities/deviceneutrality/activity.it.xml
  fsfe.org/activities/dma/activity.it.xml
  fsfe.org/activities/ln/activity.it.xml
  fsfe.org/activities/publiccode/activity.it.xml
  global/data/texts/texts.it.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260326-01.en.xml (#5884)
  fsfe.org/events/2026/event-20260326-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated documentation on internal forms
  fsfe.org/internal/pd.en.xhtml
  fsfe.org/internal/rc.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Restack new sitem
  fsfe.org/news/2026/news-20260528-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Restack news-picture update
  fsfe.org/news/2026/news-20260528-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

add translations for materials info (#5886)
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add RSS feed to footer (#5887)
  fsfe.org/graphics/services/rss.png
  global/xslt/internal/fsfe_pagefooter.xsl
Due: format-xsl, simple-syntax

ADD-event-20260602-01-01-e77d51a35f9b0eb7 (#5890)
  fsfe.org/events/2026/event-20260602-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fixing small typo (#5889)
  fsfe.org/activities/fla/activity.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding proofread changes (#5885)
  fsfe.org/activities/conf-events/activity.es.xml
  fsfe.org/activities/deviceneutrality/activity.es.xml
  fsfe.org/activities/dma/activity.es.xml
  fsfe.org/activities/drm/activity.es.xml
  fsfe.org/activities/elections/activity.es.xml
  fsfe.org/activities/eucd/activity.es.xml
  fsfe.org/activities/eura-slovakia/activity.es.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update the timeline (#5881)
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/variables.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260606-01-01-5691ebf29bf5a451 (#5891)
  fsfe.org/events/2026/event-20260606-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260607-01-01-cba65e25f61897b6 (#5894)
  fsfe.org/events/2026/event-20260607-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260607-01-01-cba65e25f61897b6 (#5895)
  fsfe.org/events/2026/event-20260607-01.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260606-02-01-4bcc98191a3ddfee (#5896)
  fsfe.org/events/2026/event-20260606-02.de.xml
  fsfe.org/events/2026/event-20260606-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updating picture
  fsfe.org/news/2026/news-20260528-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260528-01.en.xhtml
  fsfe.org/news/2026/news-20260528-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update share-buttons
  fsfe.org/config.toml
Due: tombi

restore translate files
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.es.xhtml
  fsfe.org/about/timeline/timeline.es.xml
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/variables.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fixing typo
  fsfe.org/news/2026/news-20260519-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/events/tools/eventregistration.en.xhtml
  fsfe.org/events/tools/eventregistration.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding press release (#5900)
  fsfe.org/news/2026/news-20260603-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260603-01.en.xhtml
  fsfe.org/news/2026/news-20260603-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Revert "Remove timeline mension from press pages"
  fsfe.org/press/press.de.xhtml
  fsfe.org/press/press.en.xhtml
  fsfe.org/press/press.fr.xhtml
  fsfe.org/press/press.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: switch images to alpine
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

feat: use cli based minify if available this is objectively worse in every way required to allow use of minify on alpine, as its pip dists are broken on musl
  build.Dockerfile
  build/fsfe_website_build/phase2/copy_files.py
  pre-commit.Dockerfile
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: use lxml alpha that supports free threading
  build/fsfe_website_build/build.py
  pyproject.toml
  shell.nix
  uv.lock
Due: ruff-check, ruff-format, tombi, reuse, pytest, pyright

add new quote by Bridget Almas
  fsfe.org/activities/ada-zangemann/data/reviews/6800-almas.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
