Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

lefthook.yaml:

pre-commit:
  commands:
    # FORMATTING, changes files
    # Some filetypes must be formatted, and not being so will fail ci
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    php-cs-fixer:
      glob: "*.php"
      run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    tombi:
      glob: "*.toml"
      run: tombi format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    remove-empty-paragraphs:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
      stage_fixed: true

    # CHECKS, does not alter any files
    reuse:
      glob:
        - "*.py"
      run: reuse lint-file {staged_files}
    pytest:
      glob:
        - "*.py"
      run: pytest ./build/fsfe_website_build_tests_pre_commit
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    structure:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/compare-xml-structure.py {staged_files}
    general:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}
# for checks too slow to run all the time
ci-checks:
  commands:
    pytest:
      run: pytest

feat: differentiate informational and critical hooks
  tools/ci-checks/checks/check_non_en_frontpage_news.py
  tools/ci-checks/checks/check_xml_structure.py
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: port new tag check to python
  tools/ci-checks/checks/check_new_tags.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: pytest use toplevel options ini_options is deprecated
  pyproject.toml
Due: tombi

feat: allow exceptino messages in tools (not the builder)
  pyproject.toml
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, tombi, reuse, pytest, pyright

feat: port frontpage news check to python some minor cleanup of xml_structure check
  lefthook.yaml
  tools/ci-checks/check-non-en-frontpage.sh
  tools/ci-checks/checks/check_non_en_frontpage_news.py
  tools/ci-checks/checks/check_xml_structure.py
Due: ruff-check, ruff-format, shfmt, prettier, reuse, pytest, pyright

feat: port name newsdate check to python
  tools/ci-checks/checks/check_name_newsdate_match.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: absolute links check
  tools/ci-checks/checks/check_absolute_links.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: language links
  tools/ci-checks/checks/check_fixed_languages.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: port style elem, attrib warnings
  tools/ci-checks/checks/check_style_attrib.py
  tools/ci-checks/checks/check_style_elem.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

merch: shrink small and large images
  fsfe.org/order/data/pictures/hoodie-retro-1-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-1-small.webp
  fsfe.org/order/data/pictures/hoodie-retro-2-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-2-small.webp
  fsfe.org/order/data/pictures/hoodie-retro-3-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-3-small.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-1-large.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-1-small.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-2-large.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-2-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-1-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-1-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-2-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-2-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-3-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-3-small.webp
Due: none

Updated templates to Liberation Sans font
  fsfe.org/templates/invoice.odt
  fsfe.org/templates/invoicepu.odt
  fsfe.org/templates/promotionorder.odt
Due: none

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260213-01.pl.xml
  fsfe.org/events/2026/event-20260213-01.pl.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

topbanner-20260129 (#5654)
  global/data/topbanner/topbanner.de.xml
  global/data/topbanner/topbanner.en.xml
  global/data/topbanner/topbanner.es.xml
  global/data/topbanner/topbanner.fr.xml
  global/data/topbanner/topbanner.he.xml
  global/data/topbanner/topbanner.it.xml
  global/data/topbanner/topbanner.nl.xml
  global/xslt/internal/fsfe_body.xsl
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260213-01-01-f0b3e5e4e103acab (#5652)
  fsfe.org/events/2026/event-20260213-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fixing event
  fsfe.org/events/2026/event-20260213-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

SFP045 (#5655)
  fsfe.org/news/podcast/2026/episode-45.en.xhtml
  fsfe.org/news/podcast/transcript/2026/episode-44.en.xhtml
  fsfe.org/news/podcast/transcript/2026/episode-45.en.vtt
  fsfe.org/news/podcast/transcript/2026/episode-45.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ILoveFS: update events (#5658)
  fsfe.org/events/2026/event-20260210-01.en.xml
  fsfe.org/events/2026/event-20260212-01.en.xml
  fsfe.org/events/2026/event-20260212-02.en.xml
  fsfe.org/events/2026/event-20260212-02.nl.xml
  fsfe.org/events/2026/event-20260213-01.en.xml
  fsfe.org/events/2026/event-20260213-02.en.xml
  fsfe.org/events/2026/event-20260213-03.en.xml
  fsfe.org/events/2026/event-20260214-01.de.xml
  fsfe.org/events/2026/event-20260214-01.en.xml
  fsfe.org/events/2026/event-20260214-02.en.xml
  fsfe.org/events/2026/event-20260214-03.en.xml
  fsfe.org/events/2026/event-20260214-03.es.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat/newsletter-overview (#5630)
  fsfe.org/news/archive-template.en.xhtml
  fsfe.org/news/default.xsl
  fsfe.org/news/newsletter.de.xhtml
  fsfe.org/news/newsletter.en.xhtml
  fsfe.org/news/newsletter.es.xhtml
  fsfe.org/news/newsletter.fr.xhtml
  fsfe.org/news/newsletter.it.xhtml
  fsfe.org/news/newsletter.nl.xhtml
  fsfe.org/news/newsletter.xsl
  fsfe.org/news/podcast.en.xhtml
  fsfe.org/news/podcast.nl.xhtml
  global/data/texts/texts.en.xml
  global/data/texts/texts.nl.xml
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ILoveFS: add registration nbg link (#5660)
  fsfe.org/.htaccess
Due: none

topbanner-20260204 (#5661)
  global/xslt/internal/fsfe_body.xsl
Due: format-xsl, simple-syntax

ADD-event-20260213-04-01-03ae510dd8d9d284 (#5662)
  fsfe.org/events/2026/event-20260213-04.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs: add events to webpage (#5663)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
  fsfe.org/events/2026/event-20260214-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260221-01.en.xml
  fsfe.org/events/2026/event-20260221-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260221-01-01-5d760d92c0c2e9d4 (#5666)
  fsfe.org/events/2026/event-20260221-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260209-01-01-85e6b256ccca344f (#5665)
  fsfe.org/events/2026/event-20260209-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

news-20260205-Legal (#5668)
  fsfe.org/news/2026/news-20260205-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260205-01.en.xhtml (#5669)
  fsfe.org/news/2026/news-20260205-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: add 3 new items (#5647)
  fsfe.org/order/data/info/hoodie-retro.en.xml
  fsfe.org/order/data/info/slimfit-cool-kids.en.xml
  fsfe.org/order/data/info/socks-ilovefs.en.xml
  fsfe.org/order/data/info/tshirt-cool-kids.en.xml
  fsfe.org/order/data/info/tshirt-pmpc.en.xml
  fsfe.org/order/data/items.en.xml
  fsfe.org/order/data/pictures/hoodie-retro-1-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-1-small.webp
  fsfe.org/order/data/pictures/hoodie-retro-2-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-2-small.webp
  fsfe.org/order/data/pictures/hoodie-retro-3-large.webp
  fsfe.org/order/data/pictures/hoodie-retro-3-small.webp
  fsfe.org/order/data/pictures/socks-ilovefs-1-large.webp
  fsfe.org/order/data/pictures/socks-ilovefs-1-small.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-1-large.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-1-small.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-2-large.webp
  fsfe.org/order/data/pictures/tshirt-cool-kids-2-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-1-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-1-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-2-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-2-small.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-3-large.webp
  fsfe.org/order/data/pictures/tshirt-pmpc-3-small.webp
  fsfe.org/order/order.de.xhtml
  fsfe.org/order/order.en.xhtml
  fsfe.org/order/order.es.xhtml
  fsfe.org/order/order.fr.xhtml
  fsfe.org/order/order.it.xhtml
  fsfe.org/order/order.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/events/2026/event-20260213-04.en.xml (#5671)
  fsfe.org/events/2026/event-20260213-04.en.xml
  fsfe.org/events/2026/event-20260213-04.es.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding Madrid and Bonn events (#5672)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix PMPC sharepic share (#5670)
  fsfe.org/cgi-bin/share.php
Due: php-cs-fixer

ilovefs26-events-update-patch-1 (#5674)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/events/2026/event-20260212-01.en.xml
  fsfe.org/events/2026/event-20260212-02.en.xml
  fsfe.org/events/2026/event-20260212-02.nl.xml
  fsfe.org/events/2026/event-20260213-02.en.xml
  fsfe.org/events/2026/event-20260213-03.en.xml
  fsfe.org/events/2026/event-20260213-04.en.xml
  fsfe.org/events/2026/event-20260214-04.en.xml
  fsfe.org/events/2026/event-20260215-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260214-02.de.xml
  fsfe.org/events/2026/event-20260214-02.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fixing transcription (#5679)
  fsfe.org/news/podcast/2026/episode-45.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

20260209-podcast (#5680)
  fsfe.org/news/podcast/2025/episode-42.en.xhtml
  fsfe.org/news/podcast/2025/episode-43.en.xhtml
  fsfe.org/news/podcast/2026/episode-44.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260225-01.it.xml
  fsfe.org/events/2026/event-20260225-01.it.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs26 add new events (#5678)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
  fsfe.org/events/2026/event-20260212-01.en.xml
  fsfe.org/events/2026/event-20260213-02.en.xml
  fsfe.org/events/2026/event-20260213-03.en.xml
  fsfe.org/events/2026/event-20260213-04.en.xml
  fsfe.org/events/2026/event-20260213-05.en.xml
  fsfe.org/events/2026/event-20260214-05.en.xml
  fsfe.org/events/2026/event-20260214-06.en.xml
  fsfe.org/events/2026/event-20260216-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

news-20260210-newsletter (#5683)
  fsfe.org/news/nl/nl-202602.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax
