Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, php-cs-fixer, pytest, shfmt, prettier, taplo, format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

lefthook.yaml:

output:
  - meta # Print lefthook version
  - summary # Print summary block (successful and failed steps)
  - empty_summary # Print summary heading when there are no steps to run
  - success # Print successful steps
  - failure # Print failed steps printing
  - skips # Print "skip" (i.e. no files matched)

pre-commit:
  commands:
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    php-cs-fixer:
      glob: "*.php"
      exclude:
        - "fsfe.org/cgi-bin/PHPMailer/*.php"
      run: for file in {staged_files}; do php-cs-fixer fix "$file"; done
      stage_fixed: true
    pytest:
      glob:
        - "*.py"
        - "build/xslt/*.xsl"
      run: pytest
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    custom-check:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax-check:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}

feat: multithread minification where possible
  build/fsfe_website_build/phase2/copy_files.py
Due: ruff-check, ruff-format, pyright, pytest

feat: use cli based minify if available this is objectively worse in every way required to allow use of minify on alpine, as its pip dists are broken on musl
  build.Dockerfile
  build/fsfe_website_build/phase2/copy_files.py
  pre-commit.Dockerfile
Due: ruff-check, ruff-format, pyright, pytest

feat: per site config.toml file
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/classes.py
  build/fsfe_website_build/phase1/get_dependencies.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase2/copy_files.py
  build/fsfe_website_build/phase2/run.py
  fsfe.org/config.toml
  fsfe.org/required_deploy_files.txt
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, pyright, pytest, taplo

refactor: target using nargs
  .drone.yml
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/build_config.py
  build/fsfe_website_build/phase3/stage_to_target.py
Due: ruff-check, ruff-format, pyright, pytest, prettier

feat: add global and per site build config dataclasses the run functions now use them
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/build_config.py
  build/fsfe_website_build/lib/site_config.py
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase2/run.py
Due: ruff-check, ruff-format, pyright, pytest

fix: dependency directory making
  build/fsfe_website_build/phase1/get_dependencies.py
Due: ruff-check, ruff-format, pyright, pytest

feat: move per site config to its own file
  build/fsfe_website_build/build.py
  build/fsfe_website_build/lib/site_config.py
  build/fsfe_website_build/phase1/get_dependencies.py
  build/fsfe_website_build/phase1/run.py
  build/fsfe_website_build/phase2/copy_files.py
  build/fsfe_website_build/phase2/run.py
Due: ruff-check, ruff-format, pyright, pytest

refactor: split out build steps
  build/fsfe_website_build/__init__.py
  build/fsfe_website_build/build.py
  build/fsfe_website_build_tests_ci/caching_test.py
  pyproject.toml
Due: ruff-check, ruff-format, pyright, pytest, taplo

refactor: rename source_dir to source_site for clarity treewide
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase1/update_css.py
  build/fsfe_website_build/phase1/update_defaultxsls.py
  build/fsfe_website_build/phase1/update_localmenus.py
  build/fsfe_website_build/phase1/update_stylesheets.py
  build/fsfe_website_build/phase1/update_xmllists.py
  build/fsfe_website_build/phase2/process_files.py
  fsfe.org/search/subdir.py
Due: ruff-check, ruff-format, pyright, pytest

Update donor list
  fsfe.org/donate/donors/donors-2025.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

compare-xml-structure.py: decrease indent level for return
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

compare-xml-structure.py: unify comment indent to 2 spaces
  tools/ci-checks/compare-xml-structure.py
Due: ruff-check, ruff-format, pyright, pytest

feat: switch images to alpine
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

NL translation of other Ada & Zangemann pages (#5595)
  fsfe.org/activities/ada-zangemann/data/drawings/drawings.nl.xml
  fsfe.org/activities/ada-zangemann/data/letters/1000-claudia.nl.xml
  fsfe.org/activities/ada-zangemann/data/letters/2000-nikita.nl.xml
  fsfe.org/activities/ada-zangemann/data/letters/3000-blao.nl.xml
  fsfe.org/activities/ada-zangemann/data/letters/4000-jack.nl.xml
  fsfe.org/activities/ada-zangemann/data/letters/5000-david.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1200-cerf.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1205-kahle.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1245-kurz.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1270-wright.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1290-sandler.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1291-kauffmann.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1400-joergluther.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1500-golemde.nl.xml
  fsfe.org/activities/ada-zangemann/data/reviews/1950-pol.nl.xml
  fsfe.org/activities/ada-zangemann/drawings.nl.xhtml
  fsfe.org/activities/ada-zangemann/letters.nl.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fix typo
  fsfe.org/activities/ada-zangemann/data/reviews/1291-kauffmann.nl.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Fix tags (#5573)
  fsfe.org/news/nl/nl-202407.en.xhtml
  fsfe.org/news/nl/nl-202408.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Hebrew translation. (#5594)
  fsfe.org/about/people/countries.he.xml
  fsfe.org/about/people/functions.he.xml
  fsfe.org/about/people/kirschner/kirschner.he.xhtml
  fsfe.org/activities/ada-zangemann/data/drawings/drawings.he.xml
  fsfe.org/activities/ada-zangemann/index.he.xhtml
  fsfe.org/error/400.he.xhtml
  fsfe.org/error/401.he.xhtml
  fsfe.org/error/403.he.xhtml
  fsfe.org/error/404.he.xhtml
  fsfe.org/error/405.he.xhtml
  fsfe.org/error/408.he.xhtml
  fsfe.org/error/410.he.xhtml
  fsfe.org/error/411.he.xhtml
  fsfe.org/error/412.he.xhtml
  fsfe.org/error/414.he.xhtml
  fsfe.org/error/415.he.xhtml
  fsfe.org/error/500.he.xhtml
  fsfe.org/error/501.he.xhtml
  fsfe.org/error/502.he.xhtml
  fsfe.org/error/503.he.xhtml
  fsfe.org/freesoftware/freesoftware.he.xhtml
  fsfe.org/index.he.xhtml
  global/countries/countries.he.xml
  status.fsfe.org/index.he.xhtml
  status.fsfe.org/translations/index.he.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fixing typos (#5596)
  fsfe.org/activities/ada-zangemann/data/drawings/drawings.he.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Switch from Nexi to Stripe for Merchandise payments
  fsfe.org/cgi-bin/order-payonline.pl
  fsfe.org/cgi-bin/weborder.pl
  fsfe.org/order/tmpl-thankyou.de.xhtml
  fsfe.org/order/tmpl-thankyou.en.xhtml
  fsfe.org/order/tmpl-thankyou.es.xhtml
  fsfe.org/order/tmpl-thankyou.it.xhtml
  fsfe.org/order/tmpl-thankyou.nl.xhtml
  fsfe.org/order/tmpl-thankyou.tr.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Fix typo
  fsfe.org/cgi-bin/order-payonline.pl
  fsfe.org/cgi-bin/weborder.pl
Due: none

20251222-dma (#5585)
  fsfe.org/news/2026/news-20260102-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Add link to toot (#5597)
  fsfe.org/news/2026/news-20260102-01.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Happy GNU year
  global/xslt/internal/fsfe_pagefooter.xsl
Due: format-xsl, simple-syntax-check

update security.txt
  fsfe.org/.well-known/security.txt
Due: none

added Ben to pull downs
  global/data/modules/fsfe-employee-options.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update internal forms
  fsfe.org/internal/pd.en.xhtml
  fsfe.org/internal/rc.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Update URL for merchandise payments
  fsfe.org/order/tmpl-thankyou.de.xhtml
  fsfe.org/order/tmpl-thankyou.en.xhtml
  fsfe.org/order/tmpl-thankyou.es.xhtml
  fsfe.org/order/tmpl-thankyou.it.xhtml
  fsfe.org/order/tmpl-thankyou.nl.xhtml
  fsfe.org/order/tmpl-thankyou.tr.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

fsfe.org/about/people: Change PGP pubkey links
  fsfe.org/about/people/anaghz@fsfe.org.asc
  fsfe.org/about/people/delliott@fsfe.org.asc
  fsfe.org/about/people/fkobi@fsfe.org.asc
  fsfe.org/about/people/hf@fsfe.org.asc
  fsfe.org/about/people/irakli@fsfe.org.asc
  fsfe.org/about/people/jn@fsfe.org.asc
  fsfe.org/about/people/lasota/lucas.lasota@fsfe.org.asc
  fsfe.org/about/people/people.en.xml
  fsfe.org/about/people/repentinus/repentinus@fsfe.org.asc
  fsfe.org/about/people/sander/alex.sander@fsfe.org.asc
  fsfe.org/about/people/tobiasd/tobiasd@fsfe.org.asc
  fsfe.org/about/people/tommi@fsfe.org.asc
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Start 2026 donor list
  fsfe.org/donate/donors/donors-2025.en.xml
  fsfe.org/donate/donors/donors-2026.en.xml
  fsfe.org/donate/thankgnus-2026.de.xhtml
  fsfe.org/donate/thankgnus-2026.en.xhtml
  fsfe.org/donate/thankgnus-2026.sources
  fsfe.org/donate/thankgnus-2026.xsl
Due: format-xsl, custom-check, non-en-frontpage-news, simple-syntax-check

Update redirect to current donor list
  fsfe.org/.htaccess
Due: none

escape ampersand sign
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

team: add Carsten Aggers key
  fsfe.org/about/people/agger@fsfe.org.gpg
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

Implement changes to discontinue associated organisations
  fsfe.org/about/about.en.xhtml
  fsfe.org/about/transparency-commitment.en.xhtml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

update status of Alexander
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

team: fix link
  fsfe.org/about/people/people.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

added alex to staff
  global/data/modules/fsfe-employee-options.en.xml
Due: custom-check, non-en-frontpage-news, simple-syntax-check

nix-shell: add rsync (#5601)
  shell.nix
Due: none
