Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

added missing EN version of the event
  fsfe.org/events/2026/event-20260214-05.de.xml
  fsfe.org/events/2026/event-20260214-05.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

newsletter-20260210 (#5684)
  fsfe.org/news/nl/nl-202602.en.xhtml
  fsfe.org/news/nl/nl-202602.es.xhtml
  fsfe.org/news/nl/nl-202602.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fixing header
  fsfe.org/news/nl/nl-202602.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/nl/nl-202602.en.xhtml (#5685)
  fsfe.org/news/nl/nl-202602.en.xhtml
  fsfe.org/news/nl/nl-202602.es.xhtml
  fsfe.org/news/nl/nl-202602.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260225-01-01-18f47177a5d7950e (#5677)
  fsfe.org/events/2026/event-20260225-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: remove size L hoodies (#5686)
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

IloveFS event in Norway (#5687)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/events/2026/event-20260214-07.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260312-01.it.xml
  fsfe.org/events/2026/event-20260312-01.it.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ILoveFS add event in Oxford (#5690)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ILoveFS day add Oxford evetn to fsfe.org/events (#5691)
  fsfe.org/events/2026/event-20260214-08.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

merch: resize older merch images, update item list (#5689)
  fsfe.org/order/data/items.en.xml
  fsfe.org/order/data/pictures/tshirt-H4F-back-large.jpg
  fsfe.org/order/data/pictures/tshirt-H4F-back-large.webp
  fsfe.org/order/data/pictures/tshirt-H4F-back-small.jpg
  fsfe.org/order/data/pictures/tshirt-H4F-back-small.webp
  fsfe.org/order/data/pictures/tshirt-H4F-front-large.jpg
  fsfe.org/order/data/pictures/tshirt-H4F-front-large.webp
  fsfe.org/order/data/pictures/tshirt-H4F-front-small.jpg
  fsfe.org/order/data/pictures/tshirt-H4F-front-small.webp
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-back-large.jpg
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-back-large.webp
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-back-small.jpg
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-back-small.webp
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-front-large.jpg
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-front-large.webp
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-front-small.jpg
  fsfe.org/order/data/pictures/tshirt-nocloud-petrol-front-small.webp
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ILoveFS add map of events (#5692)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: switch to ty for typechecking (#5659)
  build/fsfe_website_build/phase0/prepare_early_subdirectories.py
  build/fsfe_website_build/phase1/prepare_subdirectories.py
  build/fsfe_website_build/phase2/copy_files.py
  lefthook.yaml
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, prettier, tombi, reuse, pytest, pyright

ilovefs update name (#5693)
  fsfe.org/events/2026/event-20260213-04.en.xml
  fsfe.org/events/2026/event-20260213-04.es.xml
  fsfe.org/events/2026/event-20260213-05.en.xml
  fsfe.org/events/2026/event-20260214-03.en.xml
  fsfe.org/events/2026/event-20260214-03.es.xml
  fsfe.org/events/2026/event-20260214-04.en.xml
  fsfe.org/events/2026/event-20260214-05.en.xml
  fsfe.org/events/2026/event-20260214-06.en.xml
  fsfe.org/events/2026/event-20260214-07.en.xml
  fsfe.org/events/2026/event-20260214-08.en.xml
  fsfe.org/events/2026/event-20260215-01.en.xml
  fsfe.org/events/2026/event-20260216-01.en.xml
  fsfe.org/events/2026/event-20260221-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: Switch polish flag to portuguese for Portugal (#5694)
  fsfe.org/news/nl/nl-202602.en.xhtml
  fsfe.org/news/nl/nl-202602.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update promo order (#5695)
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/contribute/spreadtheword-ordererror.en.xhtml
Due: php-cs-fixer, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update template
  fsfe.org/templates/promoorder/promoorder.php
Due: php-cs-fixer

Add "Z1" marker to payment reference
  fsfe.org/cgi-bin/promotion.php
Due: php-cs-fixer

Add a separate payment template for promo orders
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/contribute/spreadtheword-tmpl-payment.en.xhtml
Due: php-cs-fixer, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260214-09-01-4466221135c91ea8 (#5696)
  fsfe.org/events/2026/event-20260214-09.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

IloveFS add event in croatia (#5697)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
  fsfe.org/events/2026/event-20260214-09.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Add article to the FSFE
  fsfe.org/index.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs update Moers event for the full weekend. (#5699)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/events/2026/event-20260213-06.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs: update zurich event location (#5700)
  fsfe.org/activities/ilovefs/current-year.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fsfe.org/events/2026/event-20260214-01.en.xml aktualisiert
  fsfe.org/events/2026/event-20260214-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fsfe.org/events/2026/event-20260214-01.de.xml aktualisiert
  fsfe.org/events/2026/event-20260214-01.de.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

SFP046 release and fix transcript links (#5701)
  fsfe.org/news/podcast/2025/episode-42.en.xhtml
  fsfe.org/news/podcast/2025/episode-43.en.xhtml
  fsfe.org/news/podcast/2026/episode-44.en.xhtml
  fsfe.org/news/podcast/2026/episode-46.en.xhtml
  fsfe.org/news/podcast/transcript/2026/episode-46.en.vtt
  fsfe.org/news/podcast/transcript/2026/episode-46.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

SFP046 toot (#5702)
  fsfe.org/news/podcast/2026/episode-46.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs add fediwall
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs add fediwall (#5703)
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ilovefs theme to valentine (#5704)
  global/xslt/internal/fsfe_head.xsl
Due: format-xsl, simple-syntax

ilovefs theme second try (#5705)
  global/xslt/internal/fsfe_head.xsl
Due: format-xsl, simple-syntax

ilovefs with single quotes (#5706)
  global/xslt/internal/fsfe_head.xsl
Due: format-xsl, simple-syntax

QUICK FIX: REVERT LATER: just use valentine all the time (#5707)
  global/xslt/internal/fsfe_head.xsl
Due: format-xsl, simple-syntax

ILovefs SFP047 episode (#5708)
  fsfe.org/news/podcast/2026/episode-47.en.xhtml
  fsfe.org/news/podcast/transcript/2026/episode-47.en.vtt
  fsfe.org/news/podcast/transcript/2026/episode-47.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

SFP047 toot (#5709)
  fsfe.org/news/podcast/2026/episode-47.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: properly notice when stylesheets need updating (#5710)
  build/fsfe_website_build/phase1/update_stylesheets.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

ILoveFS comic release (#5711)
  fsfe.org/activities/ilovefs/comic/comic.en.xhtml
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Ilovefs add Albania and Italy events (#5712)
  fsfe.org/activities/ilovefs/current-year.en.xml
  fsfe.org/activities/ilovefs/index.de.xhtml
  fsfe.org/activities/ilovefs/index.en.xhtml
  fsfe.org/activities/ilovefs/index.fr.xhtml
  fsfe.org/activities/ilovefs/index.it.xhtml
  fsfe.org/activities/ilovefs/index.nl.xhtml
  fsfe.org/events/2026/event-20260221-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
