Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

ruff-check:
  run: ruff check --fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

ruff-format:
  run: ruff format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

php-cs-fixer:
  run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
  stage_fixed: true
  fail_on_changes: ci

shfmt:
  run: shfmt --write {staged_files}
  stage_fixed: true
  fail_on_changes: ci

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

tombi:
  run: tombi format {staged_files}
  stage_fixed: true
  fail_on_changes: ci

format-xsl:
  run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
  stage_fixed: true

remove-empty-paragraphs:
  run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
  stage_fixed: true

reuse:
  run: reuse lint-file {staged_files}

pytest:
  run: pytest ./build/fsfe_website_build_tests_pre_commit

pyright:
  run: pyright {staged_files}

structure:
  run: tools/ci-checks/compare-xml-structure.py {staged_files}

general:
  run: tools/ci-checks/general.sh {staged_files}

non-en-frontpage-news:
  run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}

simple-syntax:
  run: xmllint --noout {staged_files}

Update fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml (#6034)
  fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml (#6036)
  fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix: FR translation of freesoftware
  fsfe.org/freesoftware/freesoftware.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

WIP: Fix: FR translation of index.fr.xhtml
  fsfe.org/index.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding fsfe25 news item (#6038)
  fsfe.org/news/2026/news-20260803-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260803-01.en.xhtml
  fsfe.org/news/2026/news-20260803-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updating page incorporating Lucas's proofreading (#6039)
  fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Wrap quote around blockquote tag
  fsfe.org/news/2026/news-20260730-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml (#6041)
  fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Commit generated by fsfe-website/cgi-bin/registerevent, to add event fsfe.org/events/2026/event-20260911-01.it.xml
  fsfe.org/events/2026/event-20260911-01.it.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix: FR translation of freesoftware (#6037)
  fsfe.org/freesoftware/freesoftware.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260911-01-01-353d0f341f16b155 (#6043)
  fsfe.org/events/2026/event-20260911-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update/complete donor list
  fsfe.org/donate/donors/donors-2019.en.xml
  fsfe.org/donate/donors/donors-2020.en.xml
  fsfe.org/donate/donors/donors-2024.en.xml
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

redirect fsfe.org/contact to fsfe.org/about/contact (#6045)
  fsfe.org/.htaccess
Due: none

Fix/url opening (#6044)
  build/fsfe_website_build/phase3/serve_websites.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

move cyf|convince to docs
  fsfe.org/.htaccess
Due: none

add /fs to fix link in PMPC brochure
  fsfe.org/.htaccess
Due: none

move /women to docs
  fsfe.org/.htaccess
Due: none

remove references to Smartcard resulting in 404; remove endof10-berlin after discussion with @tobiasd
  fsfe.org/.htaccess
Due: none

fix docs link
  fsfe.org/.htaccess
Due: none

move potteries and berlin to docs
  fsfe.org/.htaccess
Due: none

move faq to docs
  fsfe.org/.htaccess
Due: none

move groups and new-group to docs
  fsfe.org/.htaccess
Due: none

Fix: FR translation of /index.fr.xhtml
  fsfe.org/index.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml (#6049)
  fsfe.org/activities/apple-litigation/apple-litigation.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding newsletter (#6050)
  fsfe.org/news/nl/nl-202608.en.xhtml
  fsfe.org/news/nl/nl-202608.fr.xhtml
  fsfe.org/news/nl/nl-202608.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/nl/nl-202608.en.xhtml
  fsfe.org/news/nl/nl-202608.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/nl/nl-202608.it.xhtml
  fsfe.org/news/nl/nl-202608.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/nl/nl-202608.fr.xhtml
  fsfe.org/news/nl/nl-202608.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/mission.es.xhtml
  fsfe.org/about/mission.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/about/mission.de.xhtml
  fsfe.org/about/mission.de.xhtml
  fsfe.org/about/mission.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding vission in different languages (#6052)
  fsfe.org/about/mission.de.xhtml
  fsfe.org/about/mission.es.xhtml
  fsfe.org/about/mission.fr.xhtml
  fsfe.org/about/mission.it.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Fix: Tags attributes of /index.fr.xhtml
  fsfe.org/index.fr.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

ADD-event-20260813-01-01-51c76d3450c0b72d (#6048)
  fsfe.org/events/2026/event-20260813-01.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  php-cs-fixer: any of: *.php
  shfmt: any of: *.sh
  prettier: any of: *.css, *.html, *.js, *.json, *.less, *.md, *.scss, *.yaml, *.yml
  tombi: any of: *.toml
  format-xsl: any of: *.xsl
  remove-empty-paragraphs: any of: *.xml, *.xhtml
  reuse: any of: *.py
  pytest: any of: *.py
  pyright: any of: *.py
  structure: any of: *.xml, *.xhtml
  general: any of: *.html, *.xml, *.xhtml
  non-en-frontpage-news: any of: *.xml, *.xhtml
  simple-syntax: any of: *.xml, *.xhtml, *.xsl
