Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

lefthook.yaml:

pre-commit:
  commands:
    # FORMATTING, changes files
    # Some filetypes must be formatted, and not being so will fail ci
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    php-cs-fixer:
      glob: "*.php"
      run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    tombi:
      glob: "*.toml"
      run: tombi format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    remove-empty-paragraphs:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
      stage_fixed: true

    # CHECKS, does not alter any files
    reuse:
      glob:
        - "*.py"
      run: reuse lint-file {staged_files}
    pytest:
      glob:
        - "*.py"
      run: pytest ./build/fsfe_website_build_tests_pre_commit
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    structure:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/compare-xml-structure.py {staged_files}
    general:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}
# for checks too slow to run all the time
ci-checks:
  commands:
    pytest:
      run: pytest

adding news item on DNA position (#5716)
  fsfe.org/news/2026/news-20260218-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260218-01.en.xhtml (#5717)
  fsfe.org/news/2026/news-20260218-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260218-01.en.xhtml (#5718)
  fsfe.org/news/2026/news-20260218-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260218-01.en.xhtml (#5719)
  fsfe.org/news/2026/news-20260218-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

rm Cool Kids t-shirt in size L
  fsfe.org/order/data/items.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

html-timeline (#4337)
  fsfe.org/.htaccess
  fsfe.org/about/README.timeline.md
  fsfe.org/about/timeline.en.xhtml
  fsfe.org/about/timeline.it.png
  fsfe.org/about/timeline.it.svg
  fsfe.org/about/timeline.it.xhtml
  fsfe.org/about/timeline.nl.png
  fsfe.org/about/timeline.nl.svg
  fsfe.org/about/timeline.nl.xhtml
  fsfe.org/about/timeline.png
  fsfe.org/about/timeline.svg
  fsfe.org/about/timeline/default.xsl
  fsfe.org/about/timeline/index.de.xhtml
  fsfe.org/about/timeline/index.en.xhtml
  fsfe.org/about/timeline/index.it.xhtml
  fsfe.org/about/timeline/index.nl.xhtml
  fsfe.org/about/timeline/index.sources
  fsfe.org/about/timeline/timeline.en.xml
  fsfe.org/about/timeline/timeline.it.xml
  fsfe.org/about/timeline/timeline.nl.xml
  fsfe.org/fonts/NotoSansSymbols-Regular.ttf
  fsfe.org/fonts/NotoSansSymbols2-Regular.ttf
  fsfe.org/graphics/ribbonofmerit.png
  fsfe.org/graphics/theodor-heuss-medal.png
  fsfe.org/look/base.less
  fsfe.org/look/elements/banners.less
  fsfe.org/look/elements/timeline.less
  fsfe.org/look/fonts.less
  fsfe.org/look/main.less
  fsfe.org/look/variables.less
Due: prettier, format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Revert "Remove timeline mension from press pages"
  fsfe.org/press/press.de.xhtml
  fsfe.org/press/press.en.xhtml
  fsfe.org/press/press.es.xhtml
  fsfe.org/press/press.fr.xhtml
  fsfe.org/press/press.it.xhtml
  fsfe.org/press/press.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update donor list
  fsfe.org/donate/donors/donors-2026.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

added bonnie to the events reviewers
  fsfe.org/cgi-bin/registerevent.php
Due: php-cs-fixer

small improvements to the accessibility of the website (#5722)
  fsfe.org/index.xsl
  global/data/texts/texts.en.xml
  global/xslt/internal/events.xsl
  global/xslt/internal/fsfe_mainsection.xsl
  global/xslt/internal/news.xsl
Due: format-xsl, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

global/data/modules/fsfe-employee-options.en.xml aktualisiert
  global/data/modules/fsfe-employee-options.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260218-01.en.xhtml (#5723)
  fsfe.org/news/2026/news-20260218-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

news-20260224-CRA (#5724)
  fsfe.org/news/2026/news-20260224-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Adding toot and survey link (#5725)
  fsfe.org/news/2026/news-20260224-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Update fsfe.org/news/2026/news-20260224-01.en.xhtml (#5726)
  fsfe.org/news/2026/news-20260224-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

updated German version from version 3 to 4
  fsfe.org/news/news.de.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

20260226-newspage (#5727)
  fsfe.org/news/news.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

translating press page
  fsfe.org/press/press.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

20260226-press (#5728)
  fsfe.org/press/press.es.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat/python-checks (#5651)
  lefthook.yaml
  pre-commit.Dockerfile
  pyproject.toml
  shell.nix
  tools/ci-checks/check-non-en-frontpage.sh
  tools/ci-checks/checks/__init__.py
  tools/ci-checks/checks/check_absolute_links.py
  tools/ci-checks/checks/check_encoding.py
  tools/ci-checks/checks/check_fixed_languages.py
  tools/ci-checks/checks/check_image_alt.py
  tools/ci-checks/checks/check_image_ratio.py
  tools/ci-checks/checks/check_name_newsdate_match.py
  tools/ci-checks/checks/check_new_tags.py
  tools/ci-checks/checks/check_non_en_frontpage_news.py
  tools/ci-checks/checks/check_plain_email.py
  tools/ci-checks/checks/check_style_attrib.py
  tools/ci-checks/checks/check_style_elem.py
  tools/ci-checks/checks/check_versions.py
  tools/ci-checks/checks/check_xml_structure.py
  tools/ci-checks/compare-xml-structure.py
  tools/ci-checks/general.sh
  tools/ci-checks/run_checks.py
  uv.lock
Due: ruff-check, ruff-format, shfmt, prettier, tombi, reuse, pytest, pyright

fix: install file in precommit (#5730)
  pre-commit.Dockerfile
Due: none

fix: allow us-ascii (#5731)
  tools/ci-checks/checks/check_encoding.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

20260226-subscribe (#5729)
  fsfe.org/contact/email-updates.en.xhtml
  fsfe.org/news/2025/news-20261107-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add the redirect rule add the redirect rule fix the fediverse entries and xml contents
  fsfe.org/.htaccess
  fsfe.org/about/people/people.en.xml
  fsfe.org/cgi-bin/fediverse-redirect.php
  fsfe.org/cgi-bin/webfinger.php
Due: php-cs-fixer, remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: fediverse redirect php script
  fsfe.org/cgi-bin/fediverse-redirect.php
Due: php-cs-fixer

wip: add proper locations to the people xml?
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add entry about fediverse handles, and add mk,tobiasd handles
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: copy over peoplr file properly some cleanup to webfinger
  fsfe.org/cgi-bin/webfinger.php
  fsfe.org/config.toml
Due: php-cs-fixer, tombi

WIP: testing: make fediverse adresses at test.fsfe.org
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

fix: remove logging statements
  fsfe.org/cgi-bin/webfinger.php
Due: php-cs-fixer

feat: put this years new/podcast in translation overview (#5732)
  status.fsfe.org/translations/subdir.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

Payment reference numbers now begin with D
  fsfe.org/donate/payment.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

update the status
  status.fsfe.org/status.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

adding Ada norway
  fsfe.org/news/2026/news-20260302-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

news-20260302-ada (#5733)
  fsfe.org/news/2026/news-20260302-01.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax
