Repository fsfe/fsfe-website: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, php-cs-fixer, shfmt, prettier, tombi, format-xsl, remove-empty-paragraphs, reuse, pytest, pyright, structure, general, non-en-frontpage-news, simple-syntax

lefthook.yaml:

pre-commit:
  commands:
    # FORMATTING, changes files
    # Some filetypes must be formatted, and not being so will fail ci
    ruff-check:
      glob: "*.py"
      run: ruff check --fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    ruff-format:
      glob: "*.py"
      run: ruff format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    php-cs-fixer:
      glob: "*.php"
      run: php-cs-fixer --no-interaction --config=.php-cs-fixer.dist.php fix {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    shfmt:
      glob: "*.sh"
      run: shfmt --write {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    prettier:
      glob:
        - "*.css"
        - "*.html"
        - "*.js"
        - "*.json"
        - "*.less"
        - "*.md"
        - "*.scss"
        - "*.yaml"
        - "*.yml"
      run: prettier --write {staged_files}
      stage_fixed: true
    tombi:
      glob: "*.toml"
      run: tombi format {staged_files}
      stage_fixed: true
      fail_on_changes: "ci"
    format-xsl:
      glob: "*.xsl"
      run: for file in {staged_files}; do xmllint --format "$file" --output "$file"; done
      stage_fixed: true
    remove-empty-paragraphs:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: for file in {staged_files}; do xsltproc --output "$file" ./tools/ci-checks/remove-empty-paragraphs.xsl "$file"; done
      stage_fixed: true

    # CHECKS, does not alter any files
    reuse:
      glob:
        - "*.py"
      run: reuse lint-file {staged_files}
    pytest:
      glob:
        - "*.py"
      run: pytest ./build/fsfe_website_build_tests_pre_commit
    pyright:
      glob: "*.py"
      run: pyright {staged_files}
    structure:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/compare-xml-structure.py {staged_files}
    general:
      glob:
        - "*.html"
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/general.sh {staged_files}
    non-en-frontpage-news:
      glob:
        - "*.xml"
        - "*.xhtml"
      run: tools/ci-checks/check-non-en-frontpage.sh {staged_files}
    simple-syntax:
      glob:
        - "*.xml"
        - "*.xhtml"
        - "*.xsl"
      run: xmllint --noout {staged_files}
# for checks too slow to run all the time
ci-checks:
  commands:
    pytest:
      run: pytest

fsfe theme back to 'normal' (#5713)
  global/xslt/internal/fsfe_head.xsl
Due: format-xsl, simple-syntax

Revert "QUICK FIX: REVERT LATER: just use valentine all the time (#5707)" (#5714)
  global/xslt/internal/fsfe_head.xsl
Due: format-xsl, simple-syntax

update team
  fsfe.org/about/people/people.en.xml
  fsfe.org/cgi-bin/expense-request.pl
  global/data/modules/fsfe-employee-options.en.xml
  global/data/modules/fsfe-employeeactivity-options.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

Ilovefs comic exchange github with forgejo (#5715)
  fsfe.org/activities/ilovefs/comic/comic.en.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

internal forms
  fsfe.org/cgi-bin/perdiem.php
  fsfe.org/cgi-bin/registerevent.php
  fsfe.org/cgi-bin/reimbursement.php
Due: php-cs-fixer

update info material + archive
  fsfe.org/contribute/promoitems/active-items.en.xml
  fsfe.org/contribute/promoitems/archived-items.en.xml
  fsfe.org/contribute/promotion-materials-archive.de.xhtml
  fsfe.org/contribute/promotion-materials-archive.en.xhtml
  fsfe.org/contribute/promotion-materials-archive.fr.xhtml
  fsfe.org/contribute/promotion-materials-archive.nl.xhtml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

internal forms
  fsfe.org/cgi-bin/businesscards.pl
Due: none

fix event
  fsfe.org/events/2026/event-20260221-02.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

internal forms
  fsfe.org/cgi-bin/promotion.php
  fsfe.org/cgi-bin/reimbursement.php
Due: php-cs-fixer

feat: switch images to alpine
  build.Dockerfile
  pre-commit.Dockerfile
Due: none

feat: use cli based minify if available this is objectively worse in every way required to allow use of minify on alpine, as its pip dists are broken on musl
  build.Dockerfile
  build/fsfe_website_build/phase2/copy_files.py
  pre-commit.Dockerfile
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: fediverse redirect php script
  fsfe.org/cgi-bin/fediverse-redirect.php
Due: php-cs-fixer

wip: add proper locations to the people xml?
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: add entry about fediverse handles, and add mk,tobiasd handles
  fsfe.org/about/people/people.en.xml
Due: remove-empty-paragraphs, structure, general, non-en-frontpage-news, simple-syntax

feat: set lang and direction on included elements this should prevent weird rtl issues
  build/fsfe_website_build/lib/lang_directions.py
  build/fsfe_website_build/lib/process_file.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: port new tag check to python
  tools/ci-checks/checks/check_new_tags.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: convert version check
  tools/ci-checks/checks/check_versions.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: port name newsdate check to python
  tools/ci-checks/checks/check_name_newsdate_match.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: port frontpage news check to python some minor cleanup of xml_structure check
  lefthook.yaml
  tools/ci-checks/check-non-en-frontpage.sh
  tools/ci-checks/checks/check_non_en_frontpage_news.py
  tools/ci-checks/checks/check_xml_structure.py
Due: ruff-check, ruff-format, shfmt, prettier, reuse, pytest, pyright

feat: port encoding check
  tools/ci-checks/checks/check_encoding.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: differentiate informational and critical hooks
  tools/ci-checks/checks/check_non_en_frontpage_news.py
  tools/ci-checks/checks/check_xml_structure.py
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: pytest use toplevel options ini_options is deprecated
  pyproject.toml
Due: tombi

feat: absolute links check
  tools/ci-checks/checks/check_absolute_links.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: allow exceptino messages in tools (not the builder)
  pyproject.toml
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, tombi, reuse, pytest, pyright

feat: allow for more elegant addition of python checks for arbitrary file types convert xml structure check to new style
  lefthook.yaml
  tools/ci-checks/checks/__init__.py
  tools/ci-checks/checks/check_xml_structure.py
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, prettier, reuse, pytest, pyright

feat: port style elem, attrib warnings
  tools/ci-checks/checks/check_style_attrib.py
  tools/ci-checks/checks/check_style_elem.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: language links
  tools/ci-checks/checks/check_fixed_languages.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: lower verbosity of check logging
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

wip: feat: port image alt text check
  tools/ci-checks/checks/check_image_alt.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: image ratio check
  pyproject.toml
  tools/ci-checks/checks/check_image_ratio.py
  uv.lock
Due: ruff-check, ruff-format, tombi, reuse, pytest, pyright

fix: critical and informational settings for checks
  tools/ci-checks/checks/check_image_ratio.py
  tools/ci-checks/checks/check_plain_email.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: email check
  tools/ci-checks/checks/check_plain_email.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

chore: quite custom check logging
  tools/ci-checks/run_checks.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

feat: remove old ci checks that have been reimplemented
  lefthook.yaml
  pre-commit.Dockerfile
  tools/ci-checks/compare-xml-structure.py
  tools/ci-checks/general.sh
Due: ruff-check, ruff-format, shfmt, prettier, reuse, pytest, pyright

chore: standardise on new newline at end of check message and make the return statements all of a similar format
  tools/ci-checks/checks/check_absolute_links.py
  tools/ci-checks/checks/check_fixed_languages.py
  tools/ci-checks/checks/check_image_alt.py
  tools/ci-checks/checks/check_image_ratio.py
  tools/ci-checks/checks/check_name_newsdate_match.py
  tools/ci-checks/checks/check_new_tags.py
  tools/ci-checks/checks/check_non_en_frontpage_news.py
  tools/ci-checks/checks/check_style_attrib.py
  tools/ci-checks/checks/check_style_elem.py
  tools/ci-checks/checks/check_xml_structure.py
Due: ruff-check, ruff-format, reuse, pytest, pyright

fix: remove unused nix-shell deps
  shell.nix
Due: none

chore: clean pyproject
  pyproject.toml
  uv.lock
Due: tombi

chore: comment for pillow
  pyproject.toml
Due: tombi

feat: add all groups to pre commit for typechecking
  pre-commit.Dockerfile
Due: none

feat: optionally play notification+sound on completion dependency not installed by default, very opt in
  build/fsfe_website_build/build.py
  build/fsfe_website_build/globals.py
  build/fsfe_website_build/lib/build_config.py
  build/fsfe_website_build/phase3/completion_notification.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, tombi, reuse, pytest, pyright
